<div class="category-page-LQB">
  <div class="auto-group-ekv1-PdM">
    <p class="coca-cola-soft-drinks-wholesale-htw">Coca-Cola soft drinks wholesale</p>
    <p class="home-catalog-beverages-coca-cola-9W3">
      <span class="home-catalog-beverages-coca-cola-9W3-sub-0">Home - </span>
      <span class="home-catalog-beverages-coca-cola-9W3-sub-1">Catalog - Beverages - </span>
      <span class="home-catalog-beverages-coca-cola-9W3-sub-2">Coca-Cola</span>
    </p>
    <div class="frame-86-mpF">
      <div class="frame-69-tP5">
        <div class="frame-70-1Co">
          <p class="beverages-KzB">Beverages</p>
          <img class="chevron-down-rUK" src="../../assets/images/chevron-down-NBD.png"/>
        </div>
        <div class="frame-75-mbH">
          <p class="energy-drinks-hzj">Energy drinks</p>
          <img class="chevron-down-SBd" src="../../assets/images/chevron-down-ynK.png"/>
        </div>
        <div class="frame-76-ANX">
          <p class="soft-drinks-Uu1">Soft drinks</p>
          <img class="chevron-down-1tw" src="../../assets/images/chevron-down-Rbh.png"/>
        </div>
        <div class="frame-73-Ydy">Coca-Cola</div>
        <div class="frame-77-G4B">Sprite</div>
        <div class="frame-78-aaf">Fanta</div>
        <div class="frame-71-WDR">
          <p class="confectionary-3UF">Confectionary</p>
          <img class="chevron-down-yMu" src="../../assets/images/chevron-down-nPm.png"/>
        </div>
        <div class="frame-72-uWT">
          <p class="alcohol-SmH">Alcohol</p>
          <img class="chevron-down-z27" src="../../assets/images/chevron-down-Jqq.png"/>
        </div>
        <div class="frame-79-KKH">
          <p class="cosmetics-ra7">Cosmetics</p>
          <img class="chevron-down-am1" src="../../assets/images/chevron-down-gm1.png"/>
        </div>
        <div class="frame-80-7W3">
          <p class="hygiene-and-cleanliness-eks">Hygiene and Cleanliness</p>
          <img class="chevron-down-y2T" src="../../assets/images/chevron-down.png"/>
        </div>
      </div>
      <div class="frame-85-hDM">
        <div class="frame-84-SRq">
          <div class="frame-82-b3q">
            <div class="frame-68-v67">
              <img class="logo1649795998-1-SaF" src="../../assets/images/logo1649795998-1.png"/>
              <div class="frame-80-AFM">
                <img class="frame-14-Umq" src="../../assets/images/frame-14-sPh.png"/>
                <p class="coca-cola-033-ml-can-RSB">Coca Cola 0,33 ml can</p>
              </div>
            </div>
            <div class="frame-66-L3M">
              <img class="logo1637781560-1-fLX" src="../../assets/images/logo1637781560-1.png"/>
              <div class="frame-80-C5Z">
                <img class="frame-14-8E7" src="../../assets/images/frame-14-9E3.png"/>
                <p class="coca-cola-1-l-bottle-UHy">Coca Cola 1 l bottle</p>
              </div>
            </div>
            <div class="frame-65-Pfq">
              <img class="logo1637781877-1-KpP" src="../../assets/images/logo1637781877-1.png"/>
              <div class="frame-80-4GB">
                <img class="frame-14-C7V" src="../../assets/images/frame-14-FYX.png"/>
                <p class="coca-cola-2-l-bottle-8mq">Coca Cola 2 l bottle</p>
              </div>
            </div>
          </div>
          <div class="frame-83-eVH">
            <div class="auto-group-qnmh-zp3">
              <div class="frame-78-Ld1">
                <img class="logo1636464809-Sg3" src="../../assets/images/logo1636464809.png"/>
                <div class="frame-80-N3u">
                  <img class="frame-14-tnw" src="../../assets/images/frame-14-iHR.png"/>
                  <p class="fanta-033-ml-can-2eF">Fanta 0,33 ml can</p>
                </div>
              </div>
              <div class="frame-79-9Ty">
                <img class="logo1637515666-TzT" src="../../assets/images/logo1637515666.png"/>
                <div class="frame-80-CSF">
                  <img class="frame-14-wPq" src="../../assets/images/frame-14-fs1.png"/>
                  <p class="fanta-05-l-bottle-fqd">Fanta 0,5 l bottle</p>
                </div>
              </div>
            </div>
            <div class="frame-67-PWj">
              <img class="logo1637780930-1-LRy" src="../../assets/images/logo1637780930-1.png"/>
              <div class="frame-80-sRu">
                <img class="frame-14-QAw" src="../../assets/images/frame-14-3T9.png"/>
                <p class="coca-cola-05-l-bottle-9PR">Coca Cola 0,5 l bottle</p>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-2-FxF">
          <img class="loader-yNT" src="../../assets/images/loader.png"/>
          <p class="load-more-KBR">Load  more</p>
        </div>
      </div>
    </div>
    <div class="frame-87-cAX">
      <p class="coca-cola-company-soft-drinks-wholesale-best-terms-on-market-YK5">Coca-Cola company soft drinks wholesale - best terms on market</p>
      <p class="welcome-to-our-coca-cola-soft-drinks-catalog-page-featuring-a-diverse-selection-of-premium-coca-cola-beverages-discover-the-advantages-iconic-flavors-enjoy-the-timeless-taste-of-coca-cola-original-along-with-refreshing-options-like-sprite-and-the-fruity-delight-of-fanta-varied-tastes-explore-a-range-of-flavors-from-the-classic-coca-cola-original-to-the-zesty-sprite-and-the-fruity-profiles-of-fanta-multiple-sizes-choose-from-a-variety-of-sizes-including-single-serve-cans-and-larger-bottles-to-accommodate-your-business-needs-varied-packaging-our-catalog-offers-different-packaging-options-such-as-cans-pet-bottles-and-glass-bottles-providing-flexibility-for-your-market-demands-enhance-your-wholesale-offerings-with-our-coca-cola-soft-drinks-sprite-and-fanta-with-their-distinct-tastes-various-sizes-and-diverse-packaging-types-these-beverages-will-cater-to-your-customers-preferences-Exb">
      Welcome to our Coca-Cola Soft Drinks Catalog page, featuring a diverse selection of premium Coca-Cola beverages. Discover the advantages:
      <br/>
      Iconic Flavors: Enjoy the timeless taste of Coca-Cola Original, along with refreshing options like Sprite and the fruity delight of Fanta.
      <br/>
      Varied Tastes: Explore a range of flavors, from the classic Coca-Cola Original to the zesty Sprite and the fruity profiles of Fanta.
      <br/>
      Multiple Sizes: Choose from a variety of sizes, including single-serve cans and larger bottles, to accommodate your business needs.
      <br/>
      Varied Packaging: Our catalog offers different packaging options, such as cans, PET bottles, and glass bottles, providing flexibility for your market demands.
      <br/>
      Enhance your wholesale offerings with our Coca-Cola soft drinks, Sprite, and Fanta. With their distinct tastes, various sizes, and diverse packaging types, these beverages will cater to your customers&#39; preferences.
      </p>
    </div>
    <div class="frame-1-bq5">
      <div class="group-3-L1y">
        <div class="frame-2-sGo">
          <img class="clipboard-list-NjM" src="../../assets/images/clipboard-list-MBH.png"/>
          <p class="get-the-quote-VZ5">Get the quote</p>
        </div>
        <img class="menu-2-Rhd" src="../../assets/images/menu-2-gjD.png"/>
      </div>
      <img class="frame-N75" src="../../assets/images/frame-HUw.png"/>
    </div>
  </div>
  <div class="group-40-6Hy">
    <div class="frame-134-eaP">
      <div class="frame-39-BaK">
        <div class="frame-51-Wcb">
          <div class="frame-53-Dmu">
            <p class="get-the-quote-xDh">
              <span class="get-the-quote-xDh-sub-0">Get the</span>
              <span class="get-the-quote-xDh-sub-1"> quote!</span>
            </p>
            <div class="frame-50-4vw">
              <p class="infosgtradelt-PyD">infosgtrade.lt</p>
              <p class="item-370-613-15-157-L7m">+370 613 15 157</p>
            </div>
          </div>
          <div class="frame-49-SwV">
            <div class="frame-2-Cfm">
              <img class="address-book-7Xq" src="../../assets/images/address-book-PUo.png"/>
              <p class="all-contacts-EcT">All contacts</p>
            </div>
            <div class="frame-3-wFy">
              <img class="send-fSs" src="../../assets/images/send-1Zu.png"/>
              <p class="send-request-CBu">Send Request</p>
            </div>
          </div>
        </div>
        <img class="world-1-JEw" src="../../assets/images/world-1-LCs.png"/>
      </div>
    </div>
    <div class="frame-38-ZAs">
      <div class="auto-group-qytf-5Q7">
        <img class="mask-group-oqu" src="../../assets/images/mask-group-WkK.png"/>
        <div class="frame-59-jzT">
          <div class="frame-50-5YX">
            <p class="infosgtradelt-EgK">infosgtrade.lt</p>
            <p class="item-370-613-15-157-AK5">+370 613 15 157</p>
          </div>
          <div class="frame-63-Heb">
            <div class="auto-group-i7g7-eEF">
              <div class="frame-60-yGX">
                <p class="registry-code--Ho1">Registry code:</p>
                <p class="item-305937503-pH9">305937503</p>
              </div>
              <div class="frame-61-Yiw">
                <p class="vat-nr--tno">VAT nr: </p>
                <p class="lt100015566211-ELs">LT100015566211</p>
              </div>
            </div>
            <div class="frame-62-YcT">
              <p class="address--WJP">Address:</p>
              <p class="jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-3JK">J.J Krasevskio st. 7-1, Vilnius, LT- 08118, Lithuania</p>
            </div>
          </div>
        </div>
        <p class="created-by-nocliche-LYK">created by nocliche</p>
        <div class="frame-172-d1d">
          <img class="frame-x3u" src="../../assets/images/frame-qFR.png"/>
          <div class="frame-171-4sd">
            <img class="frame-23m" src="../../assets/images/frame-6Km.png"/>
            <img class="whatsapp-icon-seeklogocom-Mrj" src="../../assets/images/whatsapp-icon-seeklogocom-3rs.png"/>
            <img class="facebook-new-2019-seeklogocom-3-h9u" src="../../assets/images/facebook-new-2019-seeklogocom-3-arw.png"/>
            <img class="linkedin-new-2020-seeklogocom-QKD" src="../../assets/images/linkedin-new-2020-seeklogocom-1Wj.png"/>
            <img class="frame-KSB" src="../../assets/images/frame-9sh.png"/>
          </div>
        </div>
      </div>
      <div class="frame-58-ejM">
        <div class="frame-55-asu">
          <div class="auto-group-w2wo-XHM">
            <div class="frame-3-fuM">
              <img class="address-book-A5R" src="../../assets/images/address-book-8Uj.png"/>
              
              <p class="contacts-HA3">Contacts</p>
              
            </div>
            <div class="frame-4-1rj">
              <img class="frame-75-vio" src="../../assets/images/frame-75-khq.png"/>
              <p class="about-us-44K">About Us</p>
            </div>
          </div>
          <div class="frame-5-PcP">
            <img class="stars-uKq" src="../../assets/images/stars-kio.png"/>
            <p class="import-export-29Z">Import/Export</p>
          </div>
          <div class="frame-6-xZ1">
            <img class="news-sfy" src="../../assets/images/news-8vf.png"/>
            <p class="news-QA7">News</p>
          </div>
        </div>
        <div class="frame-56-LpT">
          <div class="frame-2-VxF">
            <img class="layout-grid-nwM" src="../../assets/images/layout-grid-sE3.png"/>
            <p class="catalog-X8F">Catalog</p>
          </div>
          <div class="frame-57-fVM">
            <div class="frame-4-DWs">Beverages</div>
            <div class="frame-5-ueb">Confectionary</div>
          
            <div class="frame-6-1Bq">Alcohol</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
