
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.category-page-LQB {
  box-sizing: border-box;
  padding-bottom: 0.1159rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(37.36deg, #242527 98.01%, #161718 201.43%);
}
.category-page-LQB .auto-group-ekv1-PdM {
  width: 100%;
  height: 172.9341rem;
  position: relative;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .coca-cola-soft-drinks-wholesale-htw {
  width: 80.1rem;
  height: 5.8rem;
  position: absolute;
  left: 12.8rem;
  top: 20.4rem;
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.070000048;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.category-page-LQB .auto-group-ekv1-PdM .home-catalog-beverages-coca-cola-9W3 {
  width: 26.2rem;
  height: 2.1rem;
  position: absolute;
  left: 12.8rem;
  top: 16.5068rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.category-page-LQB .auto-group-ekv1-PdM .home-catalog-beverages-coca-cola-9W3 .home-catalog-beverages-coca-cola-9W3-sub-0 {
}
.category-page-LQB .auto-group-ekv1-PdM .home-catalog-beverages-coca-cola-9W3 .home-catalog-beverages-coca-cola-9W3-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
}
.category-page-LQB .auto-group-ekv1-PdM .home-catalog-beverages-coca-cola-9W3 .home-catalog-beverages-coca-cola-9W3-sub-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a0a0a0;
  font-family: Gotham Pro, 'Source Sans Pro';
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF {
  width: 128rem;
  height: 83.2273rem;
  position: absolute;
  left: 12.8rem;
  top: 33.2068rem;
  display: flex;
  align-items: flex-start;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 {
  margin-right: 2rem;
  width: 30.5rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-70-1Co {
  box-sizing: border-box;
  padding: 2rem 2rem 1.9rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #04c1c1;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-70-1Co .beverages-KzB {
  margin-right: 16.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #110f0f;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-70-1Co .chevron-down-rUK {
  margin-bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-75-mbH {
  box-sizing: border-box;
  padding: 2rem 3.5rem 1.9rem 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #110f0f;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-75-mbH .energy-drinks-hzj {
  margin-right: 11.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-75-mbH .chevron-down-SBd {
  margin-bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-76-ANX {
  box-sizing: border-box;
  padding: 2rem 3.5rem 1.9rem 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #110f0f;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-76-ANX .soft-drinks-Uu1 {
  margin-right: 13.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-76-ANX .chevron-down-1tw {
  margin-bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-73-Ydy {
  width: 100%;
  height: 5.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #04c1c1;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-77-G4B {
  width: 100%;
  height: 5.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-78-aaf {
  width: 100%;
  height: 5.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-71-WDR {
  box-sizing: border-box;
  padding: 2rem 2rem 1.9rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #04c1c1;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-71-WDR .confectionary-3UF {
  margin-right: 14rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #110f0f;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-71-WDR .chevron-down-yMu {
  margin-bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-72-uWT {
  box-sizing: border-box;
  padding: 2rem 2rem 1.9rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #04c1c1;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-72-uWT .alcohol-SmH {
  margin-right: 19rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #110f0f;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-72-uWT .chevron-down-z27 {
  margin-bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-79-KKH {
  box-sizing: border-box;
  padding: 2rem 2rem 1.9rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #04c1c1;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-79-KKH .cosmetics-ra7 {
  margin-right: 16.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #110f0f;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-79-KKH .chevron-down-am1 {
  margin-bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-80-7W3 {
  box-sizing: border-box;
  padding: 2rem 2rem 1.9rem 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #04c1c1;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-80-7W3 .hygiene-and-cleanliness-eks {
  margin-right: 6.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #110f0f;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-69-tP5 .frame-80-7W3 .chevron-down-y2T {
  margin-bottom: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM {
  width: 95.5rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq {
  margin-bottom: 4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q {
  margin-bottom: 2rem;
  width: 100%;
  height: 35.9rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-68-v67 {
  box-sizing: border-box;
  padding: 0.012rem 0rem 2.523rem 0rem;
  width: 30.5rem;
  height: 100%;
  cursor: pointer;
  background-color: #110f0f;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-68-v67 .logo1649795998-1-SaF {
  margin-bottom: 2.5381rem;
  width: 30.5rem;
  height: 27.7273rem;
  object-fit: cover;
  vertical-align: top;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-68-v67 .frame-80-AFM {
  margin: 0rem 7rem 0rem 2rem;
  width: calc(100% - 9rem);
  display: flex;
  align-items: center;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-68-v67 .frame-80-AFM .frame-14-Umq {
  margin-right: 2rem;
  width: 3.1rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-68-v67 .frame-80-AFM .coca-cola-033-ml-can-RSB {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-66-L3M {
  box-sizing: border-box;
  padding: 0.012rem 0rem 2.523rem 0rem;
  width: 30.5rem;
  height: 100%;
  cursor: pointer;
  background-color: #110f0f;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-66-L3M .logo1637781560-1-fLX {
  margin-bottom: 2.5381rem;
  width: 30.5rem;
  height: 27.7273rem;
  object-fit: cover;
  vertical-align: top;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-66-L3M .frame-80-C5Z {
  margin: 0rem 9rem 0rem 2rem;
  width: calc(100% - 11rem);
  display: flex;
  align-items: center;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-66-L3M .frame-80-C5Z .frame-14-8E7 {
  margin-right: 2rem;
  width: 3.1rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-66-L3M .frame-80-C5Z .coca-cola-1-l-bottle-UHy {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-65-Pfq {
  box-sizing: border-box;
  padding: 0.012rem 0rem 2.523rem 0rem;
  width: 30.5rem;
  height: 100%;
  cursor: pointer;
  background-color: #110f0f;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-65-Pfq .logo1637781877-1-KpP {
  margin-bottom: 2.5381rem;
  width: 30.5rem;
  height: 27.7273rem;
  object-fit: cover;
  vertical-align: top;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-65-Pfq .frame-80-4GB {
  margin: 0rem 9rem 0rem 2rem;
  width: calc(100% - 11rem);
  display: flex;
  align-items: center;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-65-Pfq .frame-80-4GB .frame-14-C7V {
  margin-right: 2rem;
  width: 3.1rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-82-b3q .frame-65-Pfq .frame-80-4GB .coca-cola-2-l-bottle-8mq {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH {
  width: 100%;
  height: 35.9273rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 {
  box-sizing: border-box;
  padding-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-78-Ld1 {
  margin: 0rem 2rem 0.027rem 0rem;
  box-sizing: border-box;
  padding: 0.012rem 0rem 2.523rem 0rem;
  width: 30.5rem;
  height: calc(100% - 0.0273rem);
  cursor: pointer;
  background-color: #110f0f;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-78-Ld1 .logo1636464809-Sg3 {
  margin-bottom: 2.5381rem;
  width: 30.5rem;
  height: 27.7273rem;
  object-fit: cover;
  vertical-align: top;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-78-Ld1 .frame-80-N3u {
  margin: 0rem 10.3rem 0rem 2rem;
  width: calc(100% - 12.3rem);
  display: flex;
  align-items: center;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-78-Ld1 .frame-80-N3u .frame-14-tnw {
  margin-right: 2rem;
  width: 3.1rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-78-Ld1 .frame-80-N3u .fanta-033-ml-can-2eF {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-79-9Ty {
  margin-bottom: 0.0273rem;
  box-sizing: border-box;
  padding: 0.012rem 0rem 2.523rem 0rem;
  width: 30.5rem;
  height: calc(100% - 0.0273rem);
  cursor: pointer;
  background-color: #110f0f;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-79-9Ty .logo1637515666-TzT {
  margin-bottom: 2.5381rem;
  width: 30.5rem;
  height: 27.7273rem;
  object-fit: cover;
  vertical-align: top;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-79-9Ty .frame-80-CSF {
  margin: 0rem 10.9rem 0rem 2rem;
  width: calc(100% - 12.9rem);
  display: flex;
  align-items: center;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-79-9Ty .frame-80-CSF .frame-14-wPq {
  margin-right: 2rem;
  width: 3.1rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .auto-group-qnmh-zp3 .frame-79-9Ty .frame-80-CSF .fanta-05-l-bottle-fqd {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .frame-67-PWj {
  box-sizing: border-box;
  padding-bottom: 2.55rem;
  width: 30.5rem;
  height: 100%;
  cursor: pointer;
  background-color: #110f0f;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .frame-67-PWj .logo1637780930-1-LRy {
  margin-bottom: 2.55rem;
  width: 30.5rem;
  height: 27.7273rem;
  object-fit: cover;
  vertical-align: top;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .frame-67-PWj .frame-80-sRu {
  margin: 0rem 7.7rem 0rem 2rem;
  width: calc(100% - 9.7rem);
  display: flex;
  align-items: center;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .frame-67-PWj .frame-80-sRu .frame-14-QAw {
  margin-right: 2rem;
  width: 3.1rem;
  height: 3.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-84-SRq .frame-83-eVH .frame-67-PWj .frame-80-sRu .coca-cola-05-l-bottle-9PR {
  margin-top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-2-FxF {
  margin: 0 39.45rem;
  box-sizing: border-box;
  padding: 1.6rem 2.1rem 1.6rem 2.275rem;
  width: calc(100% - 78.9rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #63dea6;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-2-FxF .loader-yNT {
  margin-right: 1.275rem;
  width: 1.65rem;
  height: 1.65rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-86-mpF .frame-85-hDM .frame-2-FxF .load-more-KBR {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #63dea6;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-87-cAX {
  width: 126.5rem;
  height: 29.2rem;
  position: absolute;
  left: 12.8rem;
  top: 126.4341rem;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-87-cAX .coca-cola-company-soft-drinks-wholesale-best-terms-on-market-YK5 {
  margin-bottom: 3rem;
  max-width: 126.5rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.category-page-LQB .auto-group-ekv1-PdM .frame-87-cAX .welcome-to-our-coca-cola-soft-drinks-catalog-page-featuring-a-diverse-selection-of-premium-coca-cola-beverages-discover-the-advantages-iconic-flavors-enjoy-the-timeless-taste-of-coca-cola-original-along-with-refreshing-options-like-sprite-and-the-fruity-delight-of-fanta-varied-tastes-explore-a-range-of-flavors-from-the-classic-coca-cola-original-to-the-zesty-sprite-and-the-fruity-profiles-of-fanta-multiple-sizes-choose-from-a-variety-of-sizes-including-single-serve-cans-and-larger-bottles-to-accommodate-your-business-needs-varied-packaging-our-catalog-offers-different-packaging-options-such-as-cans-pet-bottles-and-glass-bottles-providing-flexibility-for-your-market-demands-enhance-your-wholesale-offerings-with-our-coca-cola-soft-drinks-sprite-and-fanta-with-their-distinct-tastes-various-sizes-and-diverse-packaging-types-these-beverages-will-cater-to-your-customers-preferences-Exb {
  max-width: 123.7rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  color: #c7c7c7;
  font-family: Radio Canada, 'Source Sans Pro';
}
.category-page-LQB .auto-group-ekv1-PdM .frame-1-bq5 {
  width: 128rem;
  height: 6rem;
  position: absolute;
  left: 12.8rem;
  top: 2.1097rem;
  overflow: hidden;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-1-bq5 .group-3-L1y {
  width: 128rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0.1903rem;
  display: flex;
  align-items: center;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-1-bq5 .group-3-L1y .frame-2-sGo {
  margin-right: 105.4rem;
  box-sizing: border-box;
  padding: 1.6rem 2.2rem 1.6rem 2.332rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-1-bq5 .group-3-L1y .frame-2-sGo .clipboard-list-NjM {
  margin: 0rem 1.332rem 0rem 0rem;
  width: 1.536rem;
  height: 1.9749rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-1-bq5 .group-3-L1y .frame-2-sGo .get-the-quote-VZ5 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-1-bq5 .group-3-L1y .menu-2-Rhd {
  margin-bottom: 0.5rem;
  width: 3.7rem;
  height: 3.7rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .auto-group-ekv1-PdM .frame-1-bq5 .frame-N75 {
  width: 15.605rem;
  height: 6.005rem;
  cursor: pointer;
  position: absolute;
  left: 56.1951rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.category-page-LQB .group-40-6Hy {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP {
  margin-bottom: 0rem;
  box-sizing: border-box;
  padding: 0 12.8rem;
  width: 100%;
  height: 63.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK {
  box-sizing: border-box;
  padding: 0rem 22rem 0rem 22rem;
  width: 100%;
  height: 110.8596rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: radial-gradient(61.4% 109.18% at 50% 120.51%, rgba(0, 0, 0, 0.3600000143) 0%, rgba(0, 0, 0, 0) 100%);
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb {
  margin: 0rem 19.3rem 6rem 19.3rem;
  width: calc(100% - 38.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-53-Dmu {
  margin: 0rem 7.45rem 2.7rem 7.45rem;
  width: calc(100% - 14.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-53-Dmu .get-the-quote-xDh {
  margin-bottom: 4.3596rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #04c1c1;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-53-Dmu .get-the-quote-xDh .get-the-quote-xDh-sub-0 {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-53-Dmu .get-the-quote-xDh .get-the-quote-xDh-sub-1 {
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-53-Dmu .frame-50-4vw {
  margin: 0rem 8.9rem 0rem 7.1rem;
  width: calc(100% - 16rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-53-Dmu .frame-50-4vw .infosgtradelt-PyD {
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-53-Dmu .frame-50-4vw .item-370-613-15-157-L7m {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-49-SwV {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-49-SwV .frame-2-Cfm {
  margin-right: 7.7rem;
  box-sizing: border-box;
  padding: 2.15rem 4.1rem 1.55rem 2.367rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #63dea6;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-49-SwV .frame-2-Cfm .address-book-7Xq {
  margin: 0rem 1.367rem 0.6rem 0rem;
  width: 1.4667rem;
  height: 1.4667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-49-SwV .frame-2-Cfm .all-contacts-EcT {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #63dea6;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-49-SwV .frame-3-wFy {
  box-sizing: border-box;
  padding: 2.15rem 4.2rem 1.55rem 2.246rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #04c1c1;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-49-SwV .frame-3-wFy .send-fSs {
  margin: 0rem 1.275rem 0.571rem 0rem;
  width: 1.6794rem;
  height: 1.6794rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .frame-51-Wcb .frame-49-SwV .frame-3-wFy .send-request-CBu {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #04c1c1;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-134-eaP .frame-39-BaK .world-1-JEw {
  width: 84rem;
  height: 80.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs {
  box-sizing: border-box;
  padding: 0rem 16.2rem 0rem 12.6rem;
  width: 100%;
  height: 36.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #110f0f;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 {
  margin-right: 14.8rem;
  width: 72.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .mask-group-oqu {
  width: 43.15rem;
  height: 50.5863rem;
  position: absolute;
  left: 19.3159rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT {
  width: 34.2151rem;
  height: 20.3rem;
  position: absolute;
  left: 0;
  top: 13.3467rem;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-50-5YX {
  margin-bottom: 3.3rem;
  display: flex;
  flex-direction: column;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-50-5YX .infosgtradelt-EgK {
  margin-bottom: 0.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-50-5YX .item-370-613-15-157-AK5 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .auto-group-i7g7-eEF {
  box-sizing: border-box;
  padding-bottom: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .auto-group-i7g7-eEF .frame-60-yGX {
  margin: 0rem 17rem 1.4rem 0rem;
  width: calc(100% - 17rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .auto-group-i7g7-eEF .frame-60-yGX .registry-code--Ho1 {
  margin-right: 2.9151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .auto-group-i7g7-eEF .frame-60-yGX .item-305937503-pH9 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .auto-group-i7g7-eEF .frame-61-Yiw {
  margin-right: 13.2rem;
  width: calc(100% - 13.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .auto-group-i7g7-eEF .frame-61-Yiw .vat-nr--tno {
  margin-right: 6.2151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .auto-group-i7g7-eEF .frame-61-Yiw .lt100015566211-ELs {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .frame-62-YcT {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .frame-62-YcT .address--WJP {
  margin-right: 5.7151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-59-jzT .frame-63-Heb .frame-62-YcT .jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-3JK {
  max-width: 24.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .created-by-nocliche-LYK {
  width: 9.8rem;
  height: 1.6rem;
  position: absolute;
  left: 58.35rem;
  top: 40.497rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(217, 217, 217, 0.3000000119);
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-172-d1d {
  width: 15.8rem;
  height: 11.9rem;
  position: absolute;
  left: 56.3rem;
  top: 14.7874rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-172-d1d .frame-x3u {
  margin: 0rem 0.005rem 3.995rem 0rem;
  width: 15.605rem;
  height: 6.005rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-172-d1d .frame-171-4sd {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-172-d1d .frame-171-4sd .frame-23m {
  margin-right: 1.5654rem;
  width: 1.9385rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-172-d1d .frame-171-4sd .whatsapp-icon-seeklogocom-Mrj {
  margin-right: 1.5657rem;
  width: 1.9285rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-172-d1d .frame-171-4sd .facebook-new-2019-seeklogocom-3-h9u {
  margin: 0rem 1.566rem 0.012rem 0rem;
  width: 1.9381rem;
  height: 1.8885rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-172-d1d .frame-171-4sd .linkedin-new-2020-seeklogocom-QKD {
  margin: 0rem 1.566rem 0rem 0rem;
  width: 1.9381rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .auto-group-qytf-5Q7 .frame-172-d1d .frame-171-4sd .frame-KSB {
  margin-bottom: 0.0001rem;
  width: 1.7945rem;
  height: 1.8998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM {
  margin: 5.95rem 0rem 12.75rem 0rem;
  height: calc(100% - 18.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu {
  margin-right: 1.8rem;
  width: 19.8rem;
  height: 100%;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .auto-group-w2wo-XHM {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .auto-group-w2wo-XHM .frame-3-fuM {
  margin: 0rem 5.2rem 1rem 0rem;
  box-sizing: border-box;
  padding: 1rem 3.4rem 0.4rem 2.45rem;
  width: calc(100% - 5.2rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .auto-group-w2wo-XHM .frame-3-fuM .address-book-A5R {
  margin: 0rem 1.05rem 0.675rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .auto-group-w2wo-XHM .frame-3-fuM .contacts-HA3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .auto-group-w2wo-XHM .frame-4-1rj {
  margin-right: 4.8rem;
  box-sizing: border-box;
  padding: 1rem 3.6rem 0.4rem 2.145rem;
  width: calc(100% - 4.8rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .auto-group-w2wo-XHM .frame-4-1rj .frame-75-vio {
  margin: 0rem 1.145rem 0.6rem 0rem;
  width: 1.2109rem;
  height: 1.2109rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .auto-group-w2wo-XHM .frame-4-1rj .about-us-44K {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .frame-5-PcP {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1rem 4.5rem 0.4rem 2rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .frame-5-PcP .stars-uKq {
  margin: 0rem 1rem 0.6rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .frame-5-PcP .import-export-29Z {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .frame-6-xZ1 {
  margin-right: 8.4rem;
  box-sizing: border-box;
  padding: 1rem 2.7rem 0.4rem 2.45rem;
  width: calc(100% - 8.4rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .frame-6-xZ1 .news-sfy {
  margin: 0rem 1.05rem 0.675rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-55-asu .frame-6-xZ1 .news-QA7 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-56-LpT {
  width: 16.3rem;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-56-LpT .frame-2-VxF {
  margin: 0rem 6.7rem 1rem 0rem;
  box-sizing: border-box;
  padding: 1rem 1.3rem 0.4rem 0.25rem;
  width: calc(100% - 6.7rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-56-LpT .frame-2-VxF .layout-grid-nwM {
  margin: 0rem 1.25rem 0.6rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-56-LpT .frame-2-VxF .catalog-X8F {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-56-LpT .frame-57-fVM {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-56-LpT .frame-57-fVM .frame-4-DWs {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0.5rem 3.9rem 0rem 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-56-LpT .frame-57-fVM .frame-5-ueb {
  box-sizing: border-box;
  padding: 0.5rem 4.3rem 0rem 2.5rem;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.category-page-LQB .group-40-6Hy .frame-38-ZAs .frame-58-ejM .frame-56-LpT .frame-57-fVM .frame-6-1Bq {
  margin-right: 5.2rem;
  box-sizing: border-box;
  padding: 0.5rem 3.6rem 0rem 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
