<div class="article-Sfm">
  <div class="frame-1-Xx7">
    <div class="group-3-SJP">
      <div class="frame-2-AEP">
        <img class="clipboard-list-fB9" src="../../assets/images/clipboard-list-nHZ.png"/>
        <p class="get-the-quote-kCb">Get the quote</p>
      </div>
      <img class="menu-2-Tco" src="../../assets/images/menu-2-hFZ.png"/>
    </div>
    <img class="frame-zMq" src="../../assets/images/frame-gEP.png"/>
  </div>
  <div class="frame-129-iHq">
    <div class="frame-128-fis">
      <img class="jagermeisteradobe-2-1Gw" src="../../assets/images/jagermeisteradobe-2.png"/>
      <div class="rectangle-7-vPu">
      </div>
      <div class="frame-125-Qps">
        <img class="calendar-event-6xb" src="../../assets/images/calendar-event-36s.png"/>
        <p class="item-06062023-1pf">06.06.2023</p>
      </div>
    </div>
    <p class="we-opened-a-new-section-alcohol-KaT">We opened a new section - Alcohol!</p>
  </div>
  <div class="auto-group-oqp7-Cu9">
    <div class="frame-174-jeB">
      <div class="frame-87-f23">
        <p class="coca-cola-company-soft-drinks-wholesale-best-terms-on-market-DJT">Coca-Cola company soft drinks wholesale - best terms on market</p>
        <p class="welcome-to-our-coca-cola-soft-drinks-catalog-page-featuring-a-diverse-selection-of-premium-coca-cola-beverages-discover-the-advantages-iconic-flavors-enjoy-the-timeless-taste-of-coca-cola-original-along-with-refreshing-options-like-sprite-and-the-fruity-delight-of-fanta-varied-tastes-explore-a-range-of-flavors-from-the-classic-coca-cola-original-to-the-zesty-sprite-and-the-fruity-profiles-of-fanta-multiple-sizes-choose-from-a-variety-of-sizes-including-single-serve-cans-and-larger-bottles-to-accommodate-your-business-needs-varied-packaging-our-catalog-offers-different-packaging-options-such-as-cans-pet-bottles-and-glass-bottles-providing-flexibility-for-your-market-demands-enhance-your-wholesale-offerings-with-our-coca-cola-soft-drinks-sprite-and-fanta-with-their-distinct-tastes-various-sizes-and-diverse-packaging-types-these-beverages-will-cater-to-your-customers-preferences-WoM">
        Welcome to our Coca-Cola Soft Drinks Catalog page, featuring a diverse selection of premium Coca-Cola beverages. Discover the advantages:
        <br/>
        Iconic Flavors: Enjoy the timeless taste of Coca-Cola Original, along with refreshing options like Sprite and the fruity delight of Fanta.
        <br/>
        Varied Tastes: Explore a range of flavors, from the classic Coca-Cola Original to the zesty Sprite and the fruity profiles of Fanta.
        <br/>
        Multiple Sizes: Choose from a variety of sizes, including single-serve cans and larger bottles, to accommodate your business needs.
        <br/>
        Varied Packaging: Our catalog offers different packaging options, such as cans, PET bottles, and glass bottles, providing flexibility for your market demands.
        <br/>
        Enhance your wholesale offerings with our Coca-Cola soft drinks, Sprite, and Fanta. With their distinct tastes, various sizes, and diverse packaging types, these beverages will cater to your customers&#39; preferences.
        </p>
      </div>
      <img class="what-is-jagermeister-1-5Nb" src="../../assets/images/what-is-jagermeister-1.png"/>
      <p class="enhance-your-wholesale-offerings-with-our-coca-cola-soft-drinks-sprite-and-fanta-with-their-distinct-tastes-various-sizes-and-diverse-packaging-types-these-beverages-will-cater-to-your-customers-preferences-Ci7">Enhance your wholesale offerings with our Coca-Cola soft drinks, Sprite, and Fanta. With their distinct tastes, various sizes, and diverse packaging types, these beverages will cater to your customers&#39; preferences.</p>
    </div>
    <div class="frame-122-rXm">
      <div class="frame-99-CrX">
        <img class="frame-k7M" src="../../assets/images/frame-fHd.png"/>
        <div class="frame-103-F47">
          <p class="leave-you-data-and-your-request-and-we-will-contact-you-with-a-solution-NPd">Leave you data and your request and we will contact you with a solution!</p>
          <div class="frame-3-TR5">
            <img class="send-yuD" src="../../assets/images/send-iWX.png"/>
            <p class="send-request-VsZ">Send Request</p>
          </div>
        </div>
      </div>
      <div class="frame-100-8fd">
        <p class="subscribe-on-our-updates-4ZH">Subscribe on our updates!</p>
        <div class="auto-group-x9kf-nEP">
          <img class="frame-jQX" src="../../assets/images/frame-tnf.png"/>
          <div class="frame-3-U7D">
            <img class="send-kqR" src="../../assets/images/send-MhD.png"/>
            <p class="your-email-twd">Your Email</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-38-627">
    <div class="auto-group-5u3m-DMd">
      <img class="mask-group-MTq" src="../../assets/images/mask-group-xGK.png"/>
      <div class="frame-59-5ej">
        <div class="frame-50-RCo">
          <p class="infosgtradelt-aLb">infosgtrade.lt</p>
          <p class="item-370-613-15-157-hg7">+370 613 15 157</p>
        </div>
        <div class="frame-63-d3y">
          <div class="auto-group-xqwq-aju">
            <div class="frame-60-j71">
              <p class="registry-code--fFZ">Registry code:</p>
              <p class="item-305937503-b9D">305937503</p>
            </div>
            <div class="frame-61-7dM">
              <p class="vat-nr--FzT">VAT nr: </p>
              <p class="lt100015566211-yvT">LT100015566211</p>
            </div>
          </div>
          <div class="frame-62-hbZ">
            <p class="address--rUT">Address:</p>
            <p class="jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-PUP">J.J Krasevskio st. 7-1, Vilnius, LT- 08118, Lithuania</p>
          </div>
        </div>
      </div>
      <p class="created-by-nocliche-hEB">created by nocliche</p>
      <div class="frame-172-BQF">
        <img class="frame-7Hu" src="../../assets/images/frame-UXu.png"/>
        <div class="frame-171-3BZ">
          <img class="frame-z6o" src="../../assets/images/frame-YeP.png"/>
          <img class="whatsapp-icon-seeklogocom-vFM" src="../../assets/images/whatsapp-icon-seeklogocom-mmd.png"/>
          <img class="facebook-new-2019-seeklogocom-3-eBM" src="../../assets/images/facebook-new-2019-seeklogocom-3-S3u.png"/>
          <img class="linkedin-new-2020-seeklogocom-xC3" src="../../assets/images/linkedin-new-2020-seeklogocom-cj5.png"/>
          <img class="frame-TuV" src="../../assets/images/frame-yA3.png"/>
        </div>
      </div>
    </div>
    <div class="frame-58-Po9">
      <div class="frame-55-vYB">
        <div class="auto-group-tgvq-U3u">
          <div class="frame-3-1pX">
            <img class="address-book-WmH" src="../../assets/images/address-book-QYK.png"/>
            <p class="contacts-Sew">Contacts</p>
          </div>
          <div class="frame-4-ZjZ">
            <img class="frame-75-UrX" src="../../assets/images/frame-75-tDH.png"/>
            <p class="about-us-QVH">About Us</p>
          </div>
        </div>
        <div class="frame-5-YLb">
          <img class="stars-443" src="../../assets/images/stars-SdR.png"/>
          <p class="import-export-nEw">Import/Export</p>
        </div>
        <div class="frame-6-vM9">
          <img class="news-SKV" src="../../assets/images/news-UqH.png"/>
          <p class="news-MxF">News</p>
        </div>
      </div>
      <div class="frame-56-6Q3">
        <div class="frame-2-TEb">
          <img class="layout-grid-kzP" src="../../assets/images/layout-grid-Mo1.png"/>
          <p class="catalog-HjR">Catalog</p>
        </div>
        <div class="frame-57-dYP">
          <div class="frame-4-aiX">Beverages</div>
          <div class="frame-5-fEB">Confectionary</div>
          <div class="frame-6-ARq">Alcohol</div>
        </div>
      </div>
    </div>
  </div>
</div>
