
<div class="contacts-Q4K">
  <div class="auto-group-78dy-Rk7">
    <div class="frame-1-KqV">
      <div class="group-3-4YB">
        <div class="frame-2-nUB">
          <img class="clipboard-list-g3m" src="../../assets/images/clipboard-list-utF.png"/>
          <p class="get-the-quote-mqu">Get the quote</p>
        </div>
        <img class="menu-2-sP9" src="../../assets/images/menu-2-zHZ.png"/>
      </div>
      <img class="frame-Bud" src="../../assets/images/frame-1oh.png"/>
    </div>
    <p class="contacts-vMR">Contacts</p>
    <div class="frame-133-Saf">
      <div class="frame-77-awm">
        <div class="frame-50-uUF">
          <div class="frame-132-1GP">
            <img class="phone-call-Z31" src="../../assets/images/phone-call.png"/>
            <p class="item-370-613-15-157-Hzb">+370 613 15 157</p>
          </div>
          <div class="frame-131-C5y">
            <img class="mail-Yfd" src="../../assets/images/mail.png"/>
            <p class="infosgtradelt-gmq">infosgtrade.lt</p>
          </div>
        </div>
        <div class="frame-170-1ZD">
          <div class="frame-63-Zqd">
            <div class="auto-group-aydd-7cF">
              <div class="frame-60-4Gb">
                <p class="registry-code--GNf">Registry code:</p>
                <p class="item-305937503-BkX">305937503</p>
              </div>
              <div class="frame-61-78P">
                <p class="vat-nr--qKH">VAT nr: </p>
                <p class="lt100015566211-yAb">LT100015566211</p>
              </div>
            </div>
            <div class="frame-62-JCs">
              <p class="address--G9h">Address:</p>
              <p class="jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-Cp3">J.J Krasevskio st. 7-1, Vilnius, LT- 08118, Lithuania</p>
            </div>
          </div>
          <img class="frame-63-uTZ" src="../../assets/images/frame-63.png"/>
        </div>
      </div>
      <div class="frame-130-Dj9">
        <div class="image-2-mVm">
        </div>
      </div>
    </div>
    <div class="frame-122-epT">
      <div class="frame-99-Cqy">
        <img class="frame-MD5" src="../../assets/images/frame-Hby.png"/>
        <div class="frame-3-fzT">
          <img class="send-mnb" src="../../assets/images/send-9hm.png"/>
          <p class="send-request-J1q">Send Request</p>
        </div>
      </div>
      <div class="frame-100-XvB">
        <p class="subscribe-on-our-updates-TYw">Subscribe on our updates!</p>
        <div class="auto-group-hmjs-mpX">
          <div class="frame-3-3X9">
            <a href="https://t.me/CocaColaPrimoBott">
            <img class="send-MGw" src="../../assets/images/send-vKM.png"/>
            </a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-38-6dq">
    <div class="auto-group-v42w-DyM">
      <img class="mask-group-xAF" src="../../assets/images/mask-group-LUB.png"/>
      <div class="frame-59-gM9">
        <div class="frame-50-D6B">
          <p class="infosgtradelt-Kf1">infosgtrade.lt</p>
          <p class="item-370-613-15-157-SzX">+370 613 15 157</p>
        </div>
        <div class="frame-63-AvX">
          <div class="auto-group-nbqp-jCw">
            <div class="frame-60-g8B">
              <p class="registry-code--1RM">Registry code:</p>
              <p class="item-305937503-YAP">305937503</p>
            </div>
            <div class="frame-61-fko">
              <p class="vat-nr--1Zm">VAT nr: </p>
              <p class="lt100015566211-9fy">LT100015566211</p>
            </div>
          </div>
          <div class="frame-62-UTM">
            <p class="address--S9H">Address:</p>
            <p class="jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-NYj">J.J Krasevskio st. 7-1, Vilnius, LT- 08118, Lithuania</p>
          </div>
        </div>
      </div>
      <p class="created-by-nocliche-5i3">created by nocliche</p>
      <div class="frame-172-yHd">
        <img class="frame-uSB" src="../../assets/images/frame-txT.png"/>
        <div class="frame-171-Dxf">
          <img class="frame-Moy" src="../../assets/images/frame-PK9.png"/>
          <img class="whatsapp-icon-seeklogocom-u4o" src="../../assets/images/whatsapp-icon-seeklogocom-EAo.png"/>
          <img class="facebook-new-2019-seeklogocom-3-dFh" src="../../assets/images/facebook-new-2019-seeklogocom-3-E1R.png"/>
          <img class="linkedin-new-2020-seeklogocom-YNf" src="../../assets/images/linkedin-new-2020-seeklogocom-GrP.png"/>
          <img class="frame-ru9" src="../../assets/images/frame-saT.png"/>
        </div>
      </div>
    </div>
    <div class="frame-58-zVZ">
      <div class="frame-55-85y">
        <div class="auto-group-puf9-GCB">
          <div class="frame-3-oxo">
            <img class="address-book-8EP" src="../../assets/images/address-book-5Js.png"/>
            
            <p class="contacts-eiX">Contacts</p>
            
          </div>
          <div class="frame-4-nZq">
            <img class="frame-75-gfD" src="../../assets/images/frame-75-zjM.png"/>
            <p class="about-us-CtT">About Us</p>
          </div>
        </div>
        <div class="frame-5-8n7">
          <img class="stars-fGF" src="../../assets/images/stars-nyq.png"/>
          <p class="import-export-n5y">Import/Export</p>
        </div>
        <div class="frame-6-iEX">
          <img class="news-cqh" src="../../assets/images/news-Go5.png"/>
          <p class="news-kS7">News</p>
        </div>
      </div>
      <div class="frame-56-HS3">
        <div class="frame-2-Es5">
          <img class="layout-grid-vzo" src="../../assets/images/layout-grid-tWw.png"/>
          <p class="catalog-evo">Catalog</p>
        </div>
        <div class="frame-57-oHu">
          <div class="frame-4-kU3">Beverages</div>
          <div class="frame-5-RaB">Confectionary</div>
          <div class="frame-6-X7R">Alcohol</div>
        </div>
      </div>
    </div>
  </div>
</div>
