
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.contacts-Q4K {
  box-sizing: border-box;
  padding-bottom: 0.05rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(37.36deg, #242527 98.01%, #161718 201.43%);
}
.contacts-Q4K .auto-group-78dy-Rk7 {
  box-sizing: border-box;
  padding: 2.11rem 12.8rem 10rem 12.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-1-KqV {
  margin-bottom: 6.4903rem;
  width: 100%;
  height: 6rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-1-KqV .group-3-4YB {
  width: 128rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0.1903rem;
  display: flex;
  align-items: center;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-1-KqV .group-3-4YB .frame-2-nUB {
  margin-right: 105.4rem;
  box-sizing: border-box;
  padding: 1.6rem 2.2rem 1.6rem 2.332rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-1-KqV .group-3-4YB .frame-2-nUB .clipboard-list-g3m {
  margin: 0rem 1.332rem 0rem 0rem;
  width: 1.536rem;
  height: 1.9749rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-1-KqV .group-3-4YB .frame-2-nUB .get-the-quote-mqu {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-1-KqV .group-3-4YB .menu-2-sP9 {
  margin-bottom: 0.5rem;
  width: 3.7rem;
  height: 3.7rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-1-KqV .frame-Bud {
  width: 15.605rem;
  height: 6.005rem;
  cursor: pointer;
  position: absolute;
  left: 56.195rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.contacts-Q4K .auto-group-78dy-Rk7 .contacts-vMR {
  margin-bottom: 4.3rem;
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.070000048;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf {
  margin-bottom: 5rem;
  width: 100%;
  height: 28.5rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm {
  margin-right: 2rem;
  box-sizing: border-box;
  padding: 4rem 4rem 4rem 4rem;
  width: 63rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #110f0f;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-50-uUF {
  margin: 0rem 1.8rem 4rem 0rem;
  width: calc(100% - 1.8rem);
  height: 3.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-50-uUF .frame-132-1GP {
  margin-right: 16rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-50-uUF .frame-132-1GP .phone-call-Z31 {
  margin-right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-50-uUF .frame-132-1GP .item-370-613-15-157-Hzb {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-50-uUF .frame-131-C5y {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-50-uUF .frame-131-C5y .mail-Yfd {
  margin-right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-50-uUF .frame-131-C5y .infosgtradelt-gmq {
  margin-top: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD {
  width: 100%;
  height: 13rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd {
  margin-right: 4.547rem;
  width: 24.2151rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .auto-group-aydd-7cF {
  box-sizing: border-box;
  padding-bottom: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .auto-group-aydd-7cF .frame-60-4Gb {
  margin: 0rem 7rem 1.4rem 0rem;
  width: calc(100% - 7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .auto-group-aydd-7cF .frame-60-4Gb .registry-code--GNf {
  margin-right: 2.9151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #93e1ed;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .auto-group-aydd-7cF .frame-60-4Gb .item-305937503-BkX {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .auto-group-aydd-7cF .frame-61-78P {
  margin-right: 3.2rem;
  width: calc(100% - 3.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .auto-group-aydd-7cF .frame-61-78P .vat-nr--qKH {
  margin-right: 6.2151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #93e1ed;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .auto-group-aydd-7cF .frame-61-78P .lt100015566211-yAb {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .frame-62-JCs {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .frame-62-JCs .address--G9h {
  margin-right: 5.7151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #93e1ed;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-Zqd .frame-62-JCs .jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-Cp3 {
  max-width: 14.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-77-awm .frame-170-1ZD .frame-63-uTZ {
  width: 26.2379rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-130-Dj9 {
  width: 63rem;
  height: 28.3rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-133-Saf .frame-130-Dj9 .image-2-mVm {
  width: 67.9106rem;
  height: 28.35rem;
  position: relative;
  background-size: 119.342% 135.934%;
  background-position: -6.5677rem -0.406rem;
  background-image: url(../../assets/images/image-2.png);
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT {
  width: 100%;
  height: 13.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-99-Cqy {
  margin-right: 2rem;
  width: 63rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(261.91deg, #04c1c1 -1.66%, #9ae3e3 -1.65%, #04c1c1 64.99%);
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-99-Cqy .frame-MD5 {
  opacity: 0.52;
  width: 41.7rem;
  height: 33.5rem;
  position: absolute;
  left: 19rem;
  top: -12rem;
  object-fit: contain;
  vertical-align: top;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-99-Cqy .frame-3-fzT {
  box-sizing: border-box;
  padding: 1.9rem 4.2rem 1.3rem 2.167rem;
  width: 19rem;
  height: 5.5rem;
  position: absolute;
  left: 22rem;
  top: 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.150000006);
  background-color: #110f0f;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-99-Cqy .frame-3-fzT .send-mnb {
  margin: 0rem 1.188rem 0.58rem 0rem;
  width: 1.1451rem;
  height: 1.1451rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-99-Cqy .frame-3-fzT .send-request-J1q {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-100-XvB {
  box-sizing: border-box;
  padding: 0rem 4.6rem 0rem 5.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background: linear-gradient(199.48deg, rgba(226, 243, 253, 0.2399999946) 110.08%, rgba(147, 225, 237, 0.2399999946) 132.41%, rgba(2, 185, 243, 0.2399999946) 157.5%, rgba(2, 138, 190, 0.2399999946) 183.61%, rgba(0, 92, 157, 0.2399999946) 208.39%);
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-100-XvB .subscribe-on-our-updates-TYw {
  margin-right: 8.6rem;
  max-width: 10.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-100-XvB .auto-group-hmjs-mpX {
  width: 33.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-100-XvB .auto-group-hmjs-mpX .frame-Kb9 {
  opacity: 0.2;
  width: 23.4rem;
  height: 22.7rem;
  position: absolute;
  left: 8.4rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-100-XvB .auto-group-hmjs-mpX .frame-3-3X9 {
  box-sizing: border-box;
  padding: 1.25rem 20.2rem 1.25rem 1rem;
  width: 33.2rem;
  height: 5.5rem;
  position: absolute;
  left: 0;
  top: 8.8188rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: solid 0.1rem #110f0f;
  background-color: #ffffff;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-100-XvB .auto-group-hmjs-mpX .frame-3-3X9 .send-MGw {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .auto-group-78dy-Rk7 .frame-122-epT .frame-100-XvB .auto-group-hmjs-mpX .frame-3-3X9 .your-email-tnf {
  margin-top: 0.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #b7b7b7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq {
  box-sizing: border-box;
  padding: 0rem 16.2rem 0rem 12.6rem;
  width: 100%;
  height: 36.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #110f0f;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM {
  margin-right: 14.8rem;
  width: 72.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .mask-group-xAF {
  width: 43.15rem;
  height: 50.5863rem;
  position: absolute;
  left: 19.3159rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 {
  width: 34.2151rem;
  height: 20.3rem;
  position: absolute;
  left: 0;
  top: 13.3467rem;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-50-D6B {
  margin-bottom: 3.3rem;
  display: flex;
  flex-direction: column;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-50-D6B .infosgtradelt-Kf1 {
  margin-bottom: 0.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-50-D6B .item-370-613-15-157-SzX {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .auto-group-nbqp-jCw {
  box-sizing: border-box;
  padding-bottom: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .auto-group-nbqp-jCw .frame-60-g8B {
  margin: 0rem 17rem 1.4rem 0rem;
  width: calc(100% - 17rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .auto-group-nbqp-jCw .frame-60-g8B .registry-code--1RM {
  margin-right: 2.9151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .auto-group-nbqp-jCw .frame-60-g8B .item-305937503-YAP {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .auto-group-nbqp-jCw .frame-61-fko {
  margin-right: 13.2rem;
  width: calc(100% - 13.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .auto-group-nbqp-jCw .frame-61-fko .vat-nr--1Zm {
  margin-right: 6.2151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .auto-group-nbqp-jCw .frame-61-fko .lt100015566211-9fy {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .frame-62-UTM {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .frame-62-UTM .address--S9H {
  margin-right: 5.7151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-59-gM9 .frame-63-AvX .frame-62-UTM .jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-NYj {
  max-width: 24.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .created-by-nocliche-5i3 {
  width: 9.8rem;
  height: 1.6rem;
  position: absolute;
  left: 58.35rem;
  top: 40.497rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(217, 217, 217, 0.3000000119);
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-172-yHd {
  width: 15.8rem;
  height: 11.9rem;
  position: absolute;
  left: 56.3rem;
  top: 14.7874rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-172-yHd .frame-uSB {
  margin: 0rem 0.005rem 3.995rem 0rem;
  width: 15.605rem;
  height: 6.005rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-172-yHd .frame-171-Dxf {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-172-yHd .frame-171-Dxf .frame-Moy {
  margin-right: 1.5654rem;
  width: 1.9385rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-172-yHd .frame-171-Dxf .whatsapp-icon-seeklogocom-u4o {
  margin-right: 1.5657rem;
  width: 1.9285rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-172-yHd .frame-171-Dxf .facebook-new-2019-seeklogocom-3-dFh {
  margin: 0rem 1.566rem 0.012rem 0rem;
  width: 1.9381rem;
  height: 1.8885rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-172-yHd .frame-171-Dxf .linkedin-new-2020-seeklogocom-YNf {
  margin: 0rem 1.566rem 0rem 0rem;
  width: 1.9381rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .auto-group-v42w-DyM .frame-172-yHd .frame-171-Dxf .frame-ru9 {
  margin-bottom: 0.0001rem;
  width: 1.7945rem;
  height: 1.8998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ {
  margin: 5.95rem 0rem 12.75rem 0rem;
  height: calc(100% - 18.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y {
  margin-right: 1.8rem;
  width: 19.8rem;
  height: 100%;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .auto-group-puf9-GCB {
  box-sizing: border-box;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .auto-group-puf9-GCB .frame-3-oxo {
  margin: 0rem 8.6rem 1.4rem 2rem;
  box-sizing: border-box;
  padding-left: 0.45rem;
  width: calc(100% - 10.6rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .auto-group-puf9-GCB .frame-3-oxo .address-book-8EP {
  margin: 0.313rem 1.05rem 0rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .auto-group-puf9-GCB .frame-3-oxo .contacts-eiX {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .auto-group-puf9-GCB .frame-4-nZq {
  margin-right: 4.8rem;
  box-sizing: border-box;
  padding: 1rem 3.6rem 0.4rem 2.145rem;
  width: calc(100% - 4.8rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .auto-group-puf9-GCB .frame-4-nZq .frame-75-gfD {
  margin: 0rem 1.145rem 0.6rem 0rem;
  width: 1.2109rem;
  height: 1.2109rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .auto-group-puf9-GCB .frame-4-nZq .about-us-CtT {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .frame-5-8n7 {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1rem 4.5rem 0.4rem 2rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .frame-5-8n7 .stars-fGF {
  margin: 0rem 1rem 0.6rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .frame-5-8n7 .import-export-n5y {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .frame-6-iEX {
  margin-right: 8.4rem;
  box-sizing: border-box;
  padding: 1rem 2.7rem 0.4rem 2.45rem;
  width: calc(100% - 8.4rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .frame-6-iEX .news-cqh {
  margin: 0rem 1.05rem 0.675rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-55-85y .frame-6-iEX .news-kS7 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-56-HS3 {
  width: 16.3rem;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-56-HS3 .frame-2-Es5 {
  margin: 0rem 6.7rem 1rem 0rem;
  box-sizing: border-box;
  padding: 1rem 1.3rem 0.4rem 0.25rem;
  width: calc(100% - 6.7rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-56-HS3 .frame-2-Es5 .layout-grid-vzo {
  margin: 0rem 1.25rem 0.6rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-56-HS3 .frame-2-Es5 .catalog-evo {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-56-HS3 .frame-57-oHu {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-56-HS3 .frame-57-oHu .frame-4-kU3 {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0.5rem 3.9rem 0rem 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-56-HS3 .frame-57-oHu .frame-5-RaB {
  box-sizing: border-box;
  padding: 0.5rem 4.3rem 0rem 2.5rem;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.contacts-Q4K .frame-38-6dq .frame-58-zVZ .frame-56-HS3 .frame-57-oHu .frame-6-X7R {
  margin-right: 5.2rem;
  box-sizing: border-box;
  padding: 0.5rem 3.6rem 0rem 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
