<div class="catalog-page-hVV">
  <div class="auto-group-ltdm-Nbd">
    <p class="product-catalog-VAT">Product Catalog</p>
    <div class="frame-19-YuR">
      <div class="frame-16-U2P">
        <div class="frame-9-Cj5">
          <img class="mask-group-wRm" src="../../assets/images/mask-group-nBd.png"/>
          <div class="group-1-URh">
            <div class="digital-image-ZCF">
            </div>
            <div class="item-38121-1-EpB">
            </div>
            <div class="sprite-2-l-8Pm">
            </div>
            <div class="digital-image-ESo">
            </div>
            <div class="digital-image-93y">
            </div>
            <div class="digital-image-RnB">
            </div>
            <div class="l-sprite-KsZ">
            </div>
            <div class="digital-image-pZR">
            </div>
            <div class="coca-cola-v1-1-1-KFH">
            </div>
            <div class="digital-image-DbZ">
            </div>
            <div class="l-coca-cola-sleek-can-7wq">
            </div>
            <div class="digital-image-ctb">
            </div>
          </div>
          <p class="beverages-iAw">Beverages</p>
        </div>
        <div class="frame-14-ayq">
          <img class="frame-14-i4T" src="../../assets/images/frame-14-43u.png"/>
          <p class="browse-3Md"> Browse</p>
        </div>
      </div>
      <div class="auto-group-grmy-yFH">
        <div class="frame-17-hSB">
          <div class="frame-10-daj">
            <img class="mask-group-xN7" src="../../assets/images/mask-group-Brb.png"/>
            <p class="confectionary-gJ7">Confectionary</p>
            <div class="marspageproducts-2-yo1">
            </div>
          </div>
          <div class="frame-14-3ns">
            <img class="frame-14-BPH" src="../../assets/images/frame-14-dCw.png"/>
            <p class="browse-vrf"> Browse</p>
          </div>
        </div>
        <div class="frame-18-fZM">
          <div class="frame-11-czP">
            <img class="mask-group-mMV" src="../../assets/images/mask-group-FAB.png"/>
            <img class="liquorshome2-1-hkw" src="../../assets/images/liquorshome2-1-vj5.png"/>
            <p class="alcohol-d8o">Alcohol</p>
          </div>
          <div class="frame-14-7Js">
            <img class="frame-14-FAB" src="../../assets/images/frame-14-pDR.png"/>
            <p class="browse-nR1"> Browse</p>
          </div>
        </div>
      </div>
    </div>
    <p class="home-catalog-7iB">
      <span class="home-catalog-7iB-sub-0">Home - </span>
      <span class="home-catalog-7iB-sub-1">Catalog</span>
    </p>
    <div class="frame-1-uGf">
      <div class="group-3-qRD">
        <div class="frame-2-Zs1">
         
          <img class="clipboard-list-s71" src="../../assets/images/clipboard-list-5g7.png"/>
        
          <p class="get-the-quote-P5M">Get the quote</p>
        </div>
        <a href="catalog.component.html">
        <img class="menu-2-W9y" src="../../assets/images/menu-2-Eg3.png"/>
        </a>
      </div>
      <img class="frame-Ebm" src="../../assets/images/frame-4Km.png"/>
    </div>
    <div class="frame-45-xnf">
      <div class="frame-16-4qh">
        <div class="frame-9-ccK">
          <img class="mask-group-L2X" src="../../assets/images/mask-group-Bcw.png"/>
          <img class="dlyavolos-2-1-GB5" src="../../assets/images/dlyavolos-2-1-ikb.png"/>
          <p class="cosmetics-nQK">Cosmetics</p>
        </div>
        <div class="frame-14-rf5">
          <img class="frame-14-nHq" src="../../assets/images/frame-14-sAB.png"/>
          <p class="browse-7qu"> Browse</p>
        </div>
      </div>
      <div class="frame-17-roV">
        <div class="frame-10-R5u">
          <img class="mask-group-AJP" src="../../assets/images/mask-group-VmV.png"/>
          <img class="item-2700000113033-1-JQb" src="../../assets/images/-NEP.png"/>
          <p class="hygiene-cleanliness-QyR">
          Hygiene &amp;
          <br/>
          Cleanliness
          </p>
        </div>
        <div class="frame-14-u9V">
          <img class="frame-14-S9R" src="../../assets/images/frame-14-pgK.png"/>
          <p class="browse-ALK"> Browse</p>
        </div>
      </div>
    </div>
  </div>
  <div class="group-39-VdV">
    <div class="frame-38-Sod">
      <div class="auto-group-rxb9-MQo">
        <img class="mask-group-HpF" src="../../assets/images/mask-group-riw.png"/>
        <div class="frame-59-pZH">
          <div class="frame-50-A7M">
            <p class="infosgtradelt-v6X">infosgtrade.lt</p>
            <p class="item-370-613-15-157-Saf">+370 613 15 157</p>
          </div>
          <div class="frame-63-NUK">
            <div class="auto-group-bfq5-io5">
              <div class="frame-60-sAB">
                <p class="registry-code--zkb">Registry code:</p>
                <p class="item-305937503-jCP">305937503</p>
              </div>
              <div class="frame-61-TPH">
                <p class="vat-nr--19u">VAT nr: </p>
                <p class="lt100015566211-wpF">LT100015566211</p>
              </div>
            </div>
            <div class="frame-62-UZH">
              <p class="address--SFD">Address:</p>
              <p class="jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-n4B">J.J Krasevskio st. 7-1, Vilnius, LT- 08118, Lithuania</p>
            </div>
          </div>
        </div>
        <p class="created-by-nocliche-ftf">created by nocliche</p>
        <div class="frame-172-NYB">
          <img class="frame-Vsh" src="../../assets/images/frame-3wH.png"/>
          <div class="frame-171-qAs">
            <img class="frame-NRh" src="../../assets/images/frame-BKy.png"/>
            <img class="whatsapp-icon-seeklogocom-7PH" src="../../assets/images/whatsapp-icon-seeklogocom-4iF.png"/>
            <img class="facebook-new-2019-seeklogocom-3-3Xq" src="../../assets/images/facebook-new-2019-seeklogocom-3-5Gf.png"/>
            <img class="linkedin-new-2020-seeklogocom-9as" src="../../assets/images/linkedin-new-2020-seeklogocom-xMh.png"/>
            <img class="frame-GfV" src="../../assets/images/frame-mpF.png"/>
          </div>
        </div>
      </div>
      <div class="frame-58-CJF">
        <div class="frame-55-8Bu">
          <div class="auto-group-5dzk-FnK">
            <div class="frame-3-ChZ">
              <img class="address-book-JEo" src="../../assets/images/address-book-Er7.png"/>
              <p class="contacts-pD9">Contacts</p>
            </div>
            <div class="frame-4-xKM">
              <img class="frame-75-exs" src="../../assets/images/frame-75-gRH.png"/>
              <p class="about-us-BC7">About Us</p>
            </div>
          </div>
          <div class="frame-5-uto">
            <img class="stars-1gw" src="../../assets/images/stars-Jmy.png"/>
            <p class="import-export-8Fm">Import/Export</p>
          </div>
          <div class="frame-6-fFh">
            <img class="news-y1V" src="../../assets/images/news-G2P.png"/>
            <p class="news-VEj">News</p>
          </div>
        </div>
        <div class="frame-56-pno">
          <div class="frame-2-ZkP">
            <img class="layout-grid-gKD" src="../../assets/images/layout-grid-P8o.png"/>
            <p class="catalog-oPq">Catalog</p>
          </div>
          <div class="frame-57-k4B">
            <div class="frame-4-5cF">Beverages</div>
            <div class="frame-5-ZXR">Confectionary</div>
            <div class="frame-6-GAw">Alcohol</div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-134-jKR">
      <div class="frame-39-sAj">
        <div class="frame-51-bcX">
          <div class="frame-53-8MZ">
            <p class="get-the-quote-f6b">
              <span class="get-the-quote-f6b-sub-0">Get the</span>
              <span class="get-the-quote-f6b-sub-1"> quote!</span>
            </p>
            <div class="frame-50-xE7">
              <p class="infosgtradelt-t7m">infosgtrade.lt</p>
              <p class="item-370-613-15-157-2Dy">+370 613 15 157</p>
            </div>
          </div>
          <div class="frame-49-kfm">
            <div class="frame-2-6jd">
              <img class="address-book-15u" src="../../assets/images/address-book-fkw.png"/>
              <p class="all-contacts-7ej">All contacts</p>
            </div>
            <div class="frame-3-EzF">
              <img class="send-B8o" src="../../assets/images/send-9Tq.png"/>
              <p class="send-request-1tX">Send Request</p>
            </div>
          </div>
        </div>
        <img class="world-1-vkb" src="../../assets/images/world-1-MRd.png"/>
      </div>
    </div>
  </div>
</div>