
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.product-page-DJK {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(37.36deg, #242527 98.01%, #161718 201.43%);
}
.product-page-DJK .auto-group-e1go-eeX {
  width: 100%;
  height: 153.4227rem;
  position: relative;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .coca-cola-330-ml-can-wholesale-wtX {
  width: 78.4rem;
  height: 5.8rem;
  position: absolute;
  left: 12.8rem;
  top: 20.35rem;
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.070000048;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .home-beverages-coca-cola-coca-cola-330-ml-can-neF {
  width: 35rem;
  height: 2.1rem;
  cursor: pointer;
  position: absolute;
  left: 12.8rem;
  top: 16.4568rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.product-page-DJK .auto-group-e1go-eeX .home-beverages-coca-cola-coca-cola-330-ml-can-neF .home-beverages-coca-cola-coca-cola-330-ml-can-neF-sub-0 {
}
.product-page-DJK .auto-group-e1go-eeX .home-beverages-coca-cola-coca-cola-330-ml-can-neF .home-beverages-coca-cola-coca-cola-330-ml-can-neF-sub-1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a0a0a0;
  font-family: Gotham Pro, 'Source Sans Pro';
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju {
  width: 128rem;
  height: 57.2727rem;
  position: absolute;
  left: 12.8rem;
  top: 33.15rem;
  display: flex;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .logo1649795998-1-iiF {
  margin-right: 2rem;
  width: 63rem;
  height: 57.2727rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T {
  width: 63rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-99-BLw {
  margin-bottom: 2rem;
  width: 100%;
  height: 13.5rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(261.91deg, #04c1c1 -1.66%, #9ae3e3 -1.65%, #04c1c1 64.99%);
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-99-BLw .frame-Hum {
  opacity: 0.52;
  width: 41.7rem;
  height: 33.5rem;
  position: absolute;
  left: 19rem;
  top: -12rem;
  object-fit: contain;
  vertical-align: top;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-99-BLw .in-stock-bfZ {
  width: 5.9rem;
  height: 2.1rem;
  position: absolute;
  left: 16.7rem;
  top: 6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #110f0f;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-99-BLw .frame-3-Gmh {
  box-sizing: border-box;
  padding: 1.9rem 4.2rem 1.3rem 2.167rem;
  width: 19rem;
  height: 5.5rem;
  cursor: pointer;
  position: absolute;
  left: 27.3rem;
  top: 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: solid 0.1rem #ffffff;
  background-color: #110f0f;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-99-BLw .frame-3-Gmh .send-Yz7 {
  margin: 0rem 1.188rem 0.58rem 0rem;
  width: 1.1451rem;
  height: 1.1451rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-99-BLw .frame-3-Gmh .send-request-G9R {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .features-4LB {
  margin-bottom: 1.9rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 {
  width: 100%;
  height: 36.9727rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf {
  box-sizing: border-box;
  padding: 3rem 4rem 4.773rem 4rem;
  width: 31.5rem;
  height: 100%;
  row-gap: 2.4rem;
  display: flex;
  flex-direction: column;
  background-color: #110f0f;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-88-DsH {
  width: 13rem;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-88-DsH .frame-116-yLf {
  margin-bottom: 0.85rem;
  box-sizing: border-box;
  padding: 0.3rem 0rem 0rem 0.4rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-88-DsH .frame-116-yLf .d-cube-sphere-H6T {
  margin: 0rem 1.4rem 0.45rem 0rem;
  width: 1.6rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-88-DsH .frame-116-yLf .pcs-volume--Bhd {
  margin-top: 0.15rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #676767;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-88-DsH .ml-udd {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-89-eLK {
  width: 12.5rem;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-89-eLK .frame-117-zf5 {
  margin: 0rem 1.8rem 0.85rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 0rem 0rem 0.4rem;
  width: calc(100% - 1.8rem);
  display: flex;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-89-eLK .frame-117-zf5 .package-HeB {
  margin: 0rem 1.4rem 0.45rem 0rem;
  width: 1.6rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-89-eLK .frame-117-zf5 .packaging--CWF {
  margin-top: 0.15rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #676767;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-89-eLK .units-per-carton-WG3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-93-3Fy {
  width: 12.4rem;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-93-3Fy .frame-118-zh1 {
  margin-bottom: 0.85rem;
  box-sizing: border-box;
  padding: 0.3rem 0rem 0rem 0.42rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-93-3Fy .frame-118-zh1 .weight-XB9 {
  margin: 0rem 1.42rem 0.55rem 0rem;
  width: 1.5604rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-93-3Fy .frame-118-zh1 .netto-weight--dzs {
  margin-top: 0.15rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #676767;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-93-3Fy .kg-AV1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-94-79M {
  width: 13rem;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-94-79M .frame-20-s8X {
  margin-bottom: 0.85rem;
  box-sizing: border-box;
  padding: 0.3rem 0rem 0rem 0.42rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-94-79M .frame-20-s8X .weight-CAo {
  margin: 0rem 1.42rem 0.55rem 0rem;
  width: 1.5604rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-94-79M .frame-20-s8X .brutto-weight--JUj {
  margin-top: 0.15rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #676767;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-100-XUf .frame-94-79M .kg-qDm {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh {
  box-sizing: border-box;
  padding: 3rem 4rem 12.673rem 4rem;
  width: 31.5rem;
  height: 100%;
  row-gap: 2.4rem;
  display: flex;
  flex-direction: column;
  background-color: #110f0f;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-96-HbZ {
  width: 12.7rem;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-96-HbZ .frame-119-SUT {
  margin-bottom: 0.85rem;
  box-sizing: border-box;
  padding: 0.45rem 0rem 0rem 0.2rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-96-HbZ .frame-119-SUT .truck-delivery-xxb {
  margin: 0rem 1.3rem 0.6rem 0rem;
  width: 1.9rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-96-HbZ .frame-119-SUT .delivery-time--Hjy {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #676767;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-96-HbZ .weeks-eu-pju {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-97-Yfu {
  width: 13.2rem;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-97-Yfu .frame-120-JQB {
  margin-bottom: 0.85rem;
  box-sizing: border-box;
  padding: 0.4rem 0rem 0rem 0.3rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-97-Yfu .frame-120-JQB .window-minimize-dhM {
  margin: 0rem 1.4rem 0.45rem 0rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-97-Yfu .frame-120-JQB .minimal-order--YpK {
  margin-top: 0.05rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #676767;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-97-Yfu .truck-5ZM {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-90-DQf {
  width: 9.4rem;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-90-DQf .frame-121-ZjR {
  margin-bottom: 0.85rem;
  box-sizing: border-box;
  padding: 0.4rem 0rem 0rem 0.4rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-90-DQf .frame-121-ZjR .barcode-tmh {
  margin: 0rem 1.4rem 0.55rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-90-DQf .frame-121-ZjR .barcode--1rK {
  margin-top: 0.05rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #676767;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-102-Cju .frame-100-S8T .frame-101-JM1 .frame-115-yi3 .frame-98-NDh .frame-90-DQf .item-20984517098-jGX {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-87-DSb {
  width: 128rem;
  height: 21rem;
  position: absolute;
  left: 12.8rem;
  top: 119.2227rem;
}
.product-page-DJK .auto-group-e1go-eeX .frame-87-DSb .product-description-7ns {
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-87-DSb .experience-the-convenience-of-coca-cola-in-a-330-ml-can-tailored-for-your-wholesale-needs-with-its-iconic-flavor-and-portable-design-this-product-is-perfect-for-stocking-your-inventory-and-meeting-the-demands-of-your-business-enjoy-the-benefits-of-wholesale-purchasing-including-competitive-pricing-bulk-availability-and-efficient-logistics-explore-our-coca-cola-330-ml-can-product-page-and-elevate-your-wholesale-offerings-with-this-timeless-favorite-ensuring-customer-satisfaction-and-maximizing-your-profitability-e27 {
  max-width: 128rem;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.4500000694;
  color: #c7c7c7;
  font-family: Radio Canada, 'Source Sans Pro';
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR {
  width: 128rem;
  height: 20.8rem;
  position: absolute;
  left: 12.8rem;
  top: 95.4227rem;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .logistics-Fw1 {
  margin-bottom: 3rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb {
  width: 100%;
  height: 12.6rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-112-LBm {
  box-sizing: border-box;
  padding: 3rem 4rem;
  width: 30.5rem;
  height: 100%;
  background-color: #110f0f;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-112-LBm .pcs-truck-4tT {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #676767;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-112-LBm .item-60480-QBd {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-112-XX9 {
  box-sizing: border-box;
  padding: 3rem 4rem;
  width: 30.5rem;
  height: 100%;
  background-color: #110f0f;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-112-XX9 .pallets-truck-GUj {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #676767;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-112-XX9 .item-30-CtB {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-113-Yh9 {
  box-sizing: border-box;
  padding: 3rem 6.6rem 3rem 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #110f0f;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-113-Yh9 .total-qty-cases-truck-goM {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #676767;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-113-Yh9 .item-5040-pef {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-114-ACj {
  box-sizing: border-box;
  padding: 3rem 4rem;
  width: 30.5rem;
  height: 100%;
  background-color: #110f0f;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-114-ACj .gross-weight-kg-hyM {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.25;
  color: #676767;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-103-wfR .frame-113-ztb .frame-114-ACj .item-2221452-e7u {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .auto-group-e1go-eeX .frame-1-A6F {
  width: 128rem;
  height: 6rem;
  position: absolute;
  left: 12.8rem;
  top: 2.0597rem;
  overflow: hidden;
}
.product-page-DJK .auto-group-e1go-eeX .frame-1-A6F .group-3-Hgf {
  width: 128rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0.1903rem;
  display: flex;
  align-items: center;
}
.product-page-DJK .auto-group-e1go-eeX .frame-1-A6F .group-3-Hgf .frame-2-dVd {
  margin-right: 105.4rem;
  box-sizing: border-box;
  padding: 1.6rem 2.2rem 1.6rem 2.332rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-1-A6F .group-3-Hgf .frame-2-dVd .clipboard-list-wWK {
  margin: 0rem 1.332rem 0rem 0rem;
  width: 1.536rem;
  height: 1.9749rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-1-A6F .group-3-Hgf .frame-2-dVd .get-the-quote-rtB {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-1-A6F .group-3-Hgf .menu-2-nmq {
  margin-bottom: 0.5rem;
  width: 3.7rem;
  height: 3.7rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .auto-group-e1go-eeX .frame-1-A6F .frame-KFy {
  width: 15.605rem;
  height: 6.005rem;
  cursor: pointer;
  position: absolute;
  left: 56.1951rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.product-page-DJK .group-41-qVD {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM {
  box-sizing: border-box;
  padding: 0 12.8rem;
  width: 100%;
  height: 63.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw {
  box-sizing: border-box;
  padding: 0rem 22rem 0rem 22rem;
  width: 100%;
  height: 110.8596rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: radial-gradient(61.4% 109.18% at 50% 120.51%, rgba(0, 0, 0, 0.3600000143) 0%, rgba(0, 0, 0, 0) 100%);
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB {
  margin: 0rem 19.3rem 6rem 19.3rem;
  width: calc(100% - 38.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-53-NdZ {
  margin: 0rem 7.45rem 2.7rem 7.45rem;
  width: calc(100% - 14.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-53-NdZ .get-the-quote-hvj {
  margin-bottom: 4.3596rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #04c1c1;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-53-NdZ .get-the-quote-hvj .get-the-quote-hvj-sub-0 {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-53-NdZ .get-the-quote-hvj .get-the-quote-hvj-sub-1 {
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-53-NdZ .frame-50-zHZ {
  margin: 0rem 8.9rem 0rem 7.1rem;
  width: calc(100% - 16rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-53-NdZ .frame-50-zHZ .infosgtradelt-WWo {
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-53-NdZ .frame-50-zHZ .item-370-613-15-157-3Wj {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-49-NZ1 {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-49-NZ1 .frame-2-XB1 {
  margin-right: 7.7rem;
  box-sizing: border-box;
  padding: 2.15rem 4.1rem 1.55rem 2.367rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #63dea6;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-49-NZ1 .frame-2-XB1 .address-book-Er7 {
  margin: 0rem 1.367rem 0.6rem 0rem;
  width: 1.4667rem;
  height: 1.4667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-49-NZ1 .frame-2-XB1 .all-contacts-xn7 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #63dea6;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-49-NZ1 .frame-3-gCK {
  box-sizing: border-box;
  padding: 2.15rem 4.2rem 1.55rem 2.246rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #04c1c1;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-49-NZ1 .frame-3-gCK .send-oGw {
  margin: 0rem 1.275rem 0.571rem 0rem;
  width: 1.6794rem;
  height: 1.6794rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .frame-51-3rB .frame-49-NZ1 .frame-3-gCK .send-request-Wh9 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #04c1c1;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-134-nfM .frame-39-Xcw .world-1-DbZ {
  width: 84rem;
  height: 80.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM {
  box-sizing: border-box;
  padding: 0rem 16.2rem 0rem 12.6rem;
  width: 100%;
  height: 36.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #110f0f;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d {
  margin-right: 14.8rem;
  width: 72.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .mask-group-L3u {
  width: 43.15rem;
  height: 50.5863rem;
  position: absolute;
  left: 19.3159rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 {
  width: 34.2151rem;
  height: 20.3rem;
  position: absolute;
  left: 0;
  top: 13.3467rem;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-50-oCP {
  margin-bottom: 3.3rem;
  display: flex;
  flex-direction: column;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-50-oCP .infosgtradelt-x5H {
  margin-bottom: 0.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-50-oCP .item-370-613-15-157-UpK {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .auto-group-gfhd-Ax3 {
  box-sizing: border-box;
  padding-bottom: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .auto-group-gfhd-Ax3 .frame-60-VUX {
  margin: 0rem 17rem 1.4rem 0rem;
  width: calc(100% - 17rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .auto-group-gfhd-Ax3 .frame-60-VUX .registry-code--pWo {
  margin-right: 2.9151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .auto-group-gfhd-Ax3 .frame-60-VUX .item-305937503-9JB {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .auto-group-gfhd-Ax3 .frame-61-UbM {
  margin-right: 13.2rem;
  width: calc(100% - 13.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .auto-group-gfhd-Ax3 .frame-61-UbM .vat-nr--DYw {
  margin-right: 6.2151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .auto-group-gfhd-Ax3 .frame-61-UbM .lt100015566211-wjq {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .frame-62-sdV {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .frame-62-sdV .address--2mH {
  margin-right: 5.7151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-59-fM5 .frame-63-p7V .frame-62-sdV .jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-a27 {
  max-width: 24.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .created-by-nocliche-5Uf {
  width: 9.8rem;
  height: 1.6rem;
  position: absolute;
  left: 58.35rem;
  top: 40.497rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(217, 217, 217, 0.3000000119);
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-172-Nif {
  width: 15.8rem;
  height: 11.9rem;
  position: absolute;
  left: 56.3rem;
  top: 14.7874rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-172-Nif .frame-twu {
  margin: 0rem 0.005rem 3.995rem 0rem;
  width: 15.605rem;
  height: 6.005rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-172-Nif .frame-171-RB9 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-172-Nif .frame-171-RB9 .frame-xgs {
  margin-right: 1.5654rem;
  width: 1.9385rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-172-Nif .frame-171-RB9 .whatsapp-icon-seeklogocom-Hz3 {
  margin-right: 1.5657rem;
  width: 1.9285rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-172-Nif .frame-171-RB9 .facebook-new-2019-seeklogocom-3-2Aw {
  margin: 0rem 1.566rem 0.012rem 0rem;
  width: 1.9381rem;
  height: 1.8885rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-172-Nif .frame-171-RB9 .linkedin-new-2020-seeklogocom-jb9 {
  margin: 0rem 1.566rem 0rem 0rem;
  width: 1.9381rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .auto-group-y6s5-11d .frame-172-Nif .frame-171-RB9 .frame-Eno {
  margin-bottom: 0.0001rem;
  width: 1.7945rem;
  height: 1.8998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT {
  margin: 5.95rem 0rem 12.75rem 0rem;
  height: calc(100% - 18.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd {
  margin-right: 1.8rem;
  width: 19.8rem;
  height: 100%;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .auto-group-awqz-SP5 {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .auto-group-awqz-SP5 .frame-3-P3R {
  margin: 0rem 5.2rem 1rem 0rem;
  box-sizing: border-box;
  padding: 1rem 3.4rem 0.4rem 2.45rem;
  width: calc(100% - 5.2rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .auto-group-awqz-SP5 .frame-3-P3R .address-book-5S3 {
  margin: 0rem 1.05rem 0.675rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .auto-group-awqz-SP5 .frame-3-P3R .contacts-o79 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .auto-group-awqz-SP5 .frame-4-8fD {
  margin-right: 4.8rem;
  box-sizing: border-box;
  padding: 1rem 3.6rem 0.4rem 2.145rem;
  width: calc(100% - 4.8rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .auto-group-awqz-SP5 .frame-4-8fD .frame-75-SR1 {
  margin: 0rem 1.145rem 0.6rem 0rem;
  width: 1.2109rem;
  height: 1.2109rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .auto-group-awqz-SP5 .frame-4-8fD .about-us-MH5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .frame-5-HRd {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1rem 4.5rem 0.4rem 2rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .frame-5-HRd .stars-CoV {
  margin: 0rem 1rem 0.6rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .frame-5-HRd .import-export-8BM {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .frame-6-G2f {
  margin-right: 8.4rem;
  box-sizing: border-box;
  padding: 1rem 2.7rem 0.4rem 2.45rem;
  width: calc(100% - 8.4rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .frame-6-G2f .news-aJF {
  margin: 0rem 1.05rem 0.675rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-55-Vyd .frame-6-G2f .news-h7y {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-56-pyH {
  width: 16.3rem;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-56-pyH .frame-2-BJ3 {
  margin: 0rem 6.7rem 1rem 0rem;
  box-sizing: border-box;
  padding: 1rem 1.3rem 0.4rem 0.25rem;
  width: calc(100% - 6.7rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-56-pyH .frame-2-BJ3 .layout-grid-H6B {
  margin: 0rem 1.25rem 0.6rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-56-pyH .frame-2-BJ3 .catalog-QRh {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-56-pyH .frame-57-YH1 {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-56-pyH .frame-57-YH1 .frame-4-tLs {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0.5rem 3.9rem 0rem 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-56-pyH .frame-57-YH1 .frame-5-N19 {
  box-sizing: border-box;
  padding: 0.5rem 4.3rem 0rem 2.5rem;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.product-page-DJK .group-41-qVD .frame-38-fyM .frame-58-AgT .frame-56-pyH .frame-57-YH1 .frame-6-G6X {
  margin-right: 5.2rem;
  box-sizing: border-box;
  padding: 0.5rem 3.6rem 0rem 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
