<div class="quote-UD9">
  <p class="get-the-quote-NZR">
    <span class="get-the-quote-NZR-sub-0">Get the</span>
    <span class="get-the-quote-NZR-sub-1"> quote!</span>
  </p>
  <p class="fill-the-contact-form-and-send-it-to-us-we-will-contact-you-soon-xg3">Fill the contact form and send it to us, we will contact you soon</p>
  <div class="frame-169-EtT">
   
    <div class="auto-group-zeq9-c1q">
     
      
      <div >
        <!-- <img class="send-uv3" src="../../assets/images/send-jVm.png"/>
         <p class="send-3mM">Send!</p> -->
        
      </div>
    </div>
  </div>
  
  <form [formGroup]='productForm' class="frame-169-EtT">
    
    <input class="frame-40-PWT" matInput formControlName="name" placeholder="Email">
    <input class="frame-41-r99" matInput formControlName="name" placeholder="Phone number">
    <input class="frame-42-86f" matInput formControlName="password" placeholder="Company">
    <input style="margin-top: 2rem;" class="frame-41-r99" matInput formControlName="phonenumber" placeholder="Specify your request">
    <button class="frame-2-naX" mat-raised-button  (click)="AddProduct()">Send</button>
  </form>

