
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.home-x8s {
  width: 100%;
  height: 362.9rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.home-x8s .frame-3-kaX {
  box-sizing: border-box;
  padding: 2.11rem 12.8rem 0rem 12.8rem;
  width: 153.6rem;
  height: 74.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: radial-gradient(30.95% 71.74% at 66.51% 79.36%, #2a2a2a 0%, #000000 100%);
}
.home-x8s .frame-3-kaX .frame-1-6gK {
  margin: 0rem 0rem 13.69rem 0rem;
  width: calc(100% - 0rem);
  height: 6rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-1-6gK .group-3-zmh {
  width: 128rem;
  height: 5.4rem;
  position: absolute;
  left: 0;
  top: 0.1903rem;
  display: flex;
  align-items: center;
}
.home-x8s .frame-3-kaX .frame-1-6gK .group-3-zmh .frame-2-Wzw {
  margin-right: 105.4rem;
  box-sizing: border-box;
  padding: 1.6rem 2.2rem 1.6rem 2.332rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-1-6gK .group-3-zmh .frame-2-Wzw .clipboard-list-oUF {
  margin: 0rem 1.332rem 0rem 0rem;
  width: 1.536rem;
  height: 1.9749rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-1-6gK .group-3-zmh .frame-2-Wzw .get-the-quote-WNf {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-1-6gK .group-3-zmh .menu-2-WfV {
  margin-bottom: 0.5rem;
  width: 3.7rem;
  height: 3.7rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-1-6gK .frame-ciX {
  width: 15.6049rem;
  height: 6.005rem;
  position: absolute;
  left: 56.1951rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-3-kaX .frame-8-x1h {
  box-sizing: border-box;
  padding-left: 0.9rem;
  width: 100%;
  height: 52.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .chevron-left-H3y {
  margin: 0rem 13.12rem 18.7rem 0rem;
  width: 0.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw {
  margin-right: 9.318rem;
  width: 98.1598rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .frame-37-LH9 {
  width: 52.5rem;
  height: 39.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .frame-37-LH9 .frame-7-rWP {
  margin-bottom: 6.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .frame-37-LH9 .frame-7-rWP .your-trusted-source-for-exceptional-beverage-imports-C4T {
  margin-bottom: 3.3rem;
  max-width: 51.4rem;
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.070000048;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .frame-37-LH9 .frame-7-rWP .your-trusted-source-for-exceptional-beverage-imports-C4T .your-trusted-source-for-exceptional-beverage-imports-C4T-sub-0 {
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.070000048;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .frame-37-LH9 .frame-7-rWP .your-trusted-source-for-exceptional-beverage-imports-C4T .your-trusted-source-for-exceptional-beverage-imports-C4T-sub-1 {
  font-size: 5.4rem;
  font-weight: 700;
  line-height: 1.070000048;
  color: #04c1c1;
  font-family: Playfair Display, 'Source Sans Pro';
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .frame-37-LH9 .frame-7-rWP .discover-a-world-of-premium-beverages-directly-from-renowned-producers-8u9 {
  max-width: 52.5rem;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.4500000694;
  color: #c7c7c7;
  font-family: Radio Canada, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .frame-37-LH9 .frame-2-1i3 {
  margin-right: 29.7rem;
  box-sizing: border-box;
  padding: 1.9rem 2rem 1.9rem 2.367rem;
  width: calc(100% - 29.7rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #63dea6;
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .frame-37-LH9 .frame-2-1i3 .layout-grid-6Ub {
  margin: 0rem 1.367rem 0rem 0rem;
  width: 1.4667rem;
  height: 1.4667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .frame-37-LH9 .frame-2-1i3 .explore-beverages-oto {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #110f0f;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .group-4-CAw .coca-cola-quien-propietario-1-vCj {
  width: 53.0392rem;
  height: 48.9496rem;
  position: relative;
  left: 45.1207rem;
  top: 3.6504rem;
  background-size: 161.665% 131.379%;
  background-position: -19.7634rem -14.7241rem;
  background-image: url('../../assets/images/coca-cola-quien-propietario-1.png');
}
.home-x8s .frame-3-kaX .frame-8-x1h .auto-group-nkwz-mz3 {
  margin-top: 11.6515rem;
  width: 5.9021rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .auto-group-nkwz-mz3 .chevron-right-uKZ {
  margin: 0rem 0.9rem 29.249rem 0rem;
  width: 0.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .auto-group-nkwz-mz3 .group-2-RYo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .auto-group-nkwz-mz3 .group-2-RYo .ellipse-1-yaK {
  margin-right: 1.7rem;
  width: 1.1025rem;
  height: 1.1025rem;
  background-color: #d9d9d9;
  border-radius: 0.5512rem;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .auto-group-nkwz-mz3 .group-2-RYo .ellipse-2-txB {
  margin: 0rem 1.7rem 0rem 0rem;
  width: 0.6998rem;
  height: 0.6998rem;
  background-color: #d9d9d9;
  border-radius: 0.3499rem;
  flex-shrink: 0;
}
.home-x8s .frame-3-kaX .frame-8-x1h .auto-group-nkwz-mz3 .group-2-RYo .ellipse-3-DjZ {
  margin-bottom: 0rem;
  width: 0.6998rem;
  height: 0.6998rem;
  background-color: #d9d9d9;
  border-radius: 0.3499rem;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R {
  box-sizing: border-box;
  padding: 10rem 12.75rem 12.5rem 12.8rem;
  width: 153.7rem;
  height: 114.9596rem;
  position: absolute;
  left: 0;
  top: 74.35rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: radial-gradient(13.7% 50% at 50% 50%, #212325 0%, #181818 100%);
}
.home-x8s .frame-48-s3R .frame-44-kN7 {
  margin: 0rem 5.413rem 6.08rem 0.05rem;
  width: calc(100% - 5.4629rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-44-kN7 .products-GbM {
  margin-right: 9.7871rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-44-kN7 .explore-our-handpicked-selection-of-top-quality-products-sourced-directly-from-leading-producers-offering-you-a-diverse-range-of-flavors-to-cater-to-your-business-needs-znF {
  margin-top: 0.0798rem;
  max-width: 93.4rem;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.4500000694;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF {
  margin-bottom: 6.5rem;
  width: 100%;
  height: 37.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 30.55rem;
  height: 100%;
  cursor: pointer;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV {
  margin-bottom: 2rem;
  width: 100%;
  height: 31.2rem;
  position: relative;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .mask-group-3e3 {
  width: 19.7004rem;
  height: 23.0955rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj {
  width: 23.7635rem;
  height: 17.5469rem;
  position: absolute;
  left: 3.3682rem;
  top: 10.1746rem;
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .digital-image-5qd {
  width: 6.0434rem;
  height: 17.1798rem;
  position: relative;
  left: 17.7201rem;
  top: 0;
  background-size: 284.274% 100%;
  background-position: -5.4875rem 0rem;
  background-image: url('../../assets/images/digital-image-e4B.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .item-38121-1-B7y {
  width: 6.9rem;
  height: 17.1798rem;
  position: relative;
  left: 5.0262rem;
  top: 0;
  background-size: 248.982% 100%;
  background-position: -4.8769rem 0rem;
  background-image: url('../../assets/images/.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .sprite-2-l-foq {
  width: 5.7939rem;
  height: 17.1798rem;
  position: relative;
  left: 11.9263rem;
  top: 0;
  background-size: 296.516% 100%;
  background-position: -5.5081rem 0rem;
  background-image: url('../../assets/images/sprite-2-l.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .digital-image-ypX {
  width: 4.5677rem;
  height: 13.8001rem;
  position: relative;
  left: 15.4012rem;
  top: 3.3797rem;
  background-size: 302.124% 100%;
  background-position: -4.6318rem 0rem;
  background-image: url('../../assets/images/digital-image-vHR.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .digital-image-gyq {
  width: 4.9367rem;
  height: 13.8001rem;
  position: relative;
  left: 2.6117rem;
  top: 3.3797rem;
  background-size: 279.541% 100%;
  background-position: -4.4855rem 0rem;
  background-image: url('../../assets/images/digital-image-2HH.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .digital-image-Bvb {
  width: 5.2001rem;
  height: 13.8001rem;
  position: relative;
  left: 9.147rem;
  top: 3.3797rem;
  background-size: 265.379% 100%;
  background-position: -4.1207rem 0rem;
  background-image: url('../../assets/images/digital-image-KCf.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .l-sprite-JEX {
  width: 3.4978rem;
  height: 11.2155rem;
  position: relative;
  left: 7.39rem;
  top: 6.3314rem;
  background-size: 332.468% 103.686%;
  background-position: -4.0108rem -0.2106rem;
  background-image: url('../../assets/images/l-sprite.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .digital-image-CKu {
  width: 3.6819rem;
  height: 10.6623rem;
  position: relative;
  left: 13.1495rem;
  top: 6.6041rem;
  background-size: 289.59% 100%;
  background-position: -3.4725rem 0rem;
  background-image: url('../../assets/images/digital-image-XRM.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .coca-cola-v1-1-1-5uV {
  width: 3.3792rem;
  height: 10.935rem;
  position: relative;
  left: 0;
  top: 6.3314rem;
  background-size: 651.367% 113.189%;
  background-position: -9.4374rem -0.7506rem;
  background-image: url('../../assets/images/coca-cola-v1-1-1.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .digital-image-BxX {
  width: 2.6825rem;
  height: 5.8046rem;
  position: relative;
  left: 15.2271rem;
  top: 11.4618rem;
  background-size: 216.389% 100%;
  background-position: -1.5157rem 0rem;
  background-image: url('../../assets/images/digital-image.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .l-coca-cola-sleek-can-VCX {
  width: 2.8403rem;
  height: 6.0434rem;
  position: relative;
  left: 1.9987rem;
  top: 11.223rem;
  background-size: 230.217% 108.198%;
  background-position: -1.8493rem -0.2149rem;
  background-image: url('../../assets/images/l-coca-cola-sleek-can.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .group-1-nLj .digital-image-azf {
  width: 3.0372rem;
  height: 5.8046rem;
  position: relative;
  left: 8.889rem;
  top: 11.3752rem;
  background-size: 191.116% 100%;
  background-position: -1.3407rem 0rem;
  background-image: url('../../assets/images/digital-image-9W3.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-9-7VV .beverages-J9y {
  width: 11.9rem;
  height: 2.9rem;
  position: absolute;
  left: 3.937rem;
  top: 2.6153rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-14-BDm {
  margin: 0rem 18.8rem 0rem 2.05rem;
  width: calc(100% - 20.85rem);
  display: flex;
  align-items: center;
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-14-BDm .frame-14-6bd {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF .frame-16-yeB .frame-14-BDm .browse-q3R {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kirish{
  
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj {
  box-sizing: border-box;
  padding-left: 18.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-17-HRD {
  margin-right: 18.3183rem;
  width: 30.5817rem;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-17-HRD .frame-10-R1d {
  margin-bottom: 2rem;
  width: 100%;
  height: 31.2rem;
  position: relative;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-17-HRD .frame-10-R1d .mask-group-kJo {
  width: 19.7004rem;
  height: 23.0955rem;
  position: absolute;
  left: 0;
  top: 0.0404rem;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-17-HRD .frame-10-R1d .confectionary-MJb {
  width: 16.8rem;
  height: 2.9rem;
  position: absolute;
  left: 1.687rem;
  top: 2.6153rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-17-HRD .frame-10-R1d .marspageproducts-2-RZM {
  width: 22.4752rem;
  height: 17.0108rem;
  position: relative;
  left: 4.8495rem;
  top: 9.7757rem;
  background-size: 126.483% 144.124%;
  background-position: -2.9747rem -5.2558rem;
  background-image: url('../../assets/images/marspageproducts-2.png');
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-17-HRD .frame-14-h15 {
  margin: 0rem 18.782rem 0rem 2.1rem;
  width: calc(100% - 20.8817rem);
  display: flex;
  align-items: center;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-17-HRD .frame-14-h15 .frame-14-opo {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-17-HRD .frame-14-h15 .browse-Lpj {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-18-UAF {
  width: 30.5rem;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-18-UAF .frame-11-2Bm {
  margin-bottom: 2rem;
  width: 100%;
  height: 31.2rem;
  position: relative;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-18-UAF .frame-11-2Bm .mask-group-ZBh {
  width: 19.7004rem;
  height: 23.0955rem;
  position: absolute;
  left: 0;
  top: 0.0404rem;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-18-UAF .frame-11-2Bm .liquorshome2-1-tjm {
  width: 19.3323rem;
  height: 24.1654rem;
  position: absolute;
  left: 9.2511rem;
  top: 3.1153rem;
  object-fit: cover;
  vertical-align: top;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-18-UAF .frame-11-2Bm .alcohol-pNX {
  width: 8.9rem;
  height: 2.9rem;
  position: absolute;
  left: 5.4327rem;
  top: 2.6153rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-18-UAF .frame-14-JHh {
  margin: 0rem 18.8rem 0rem 2rem;
  width: calc(100% - 20.8rem);
  display: flex;
  align-items: center;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-18-UAF .frame-14-JHh .frame-14-EBM {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-19-SeF .auto-group-mh4f-xtj .frame-18-UAF .frame-14-JHh .browse-mBH {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-45-gp3 {
  box-sizing: border-box;
  padding-right: 48.8183rem;
  width: 100%;
  height: 35.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-16-RWj {
  margin-right: 18.2rem;
  width: 30.55rem;
  height: 100%;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-16-RWj .frame-9-m4o {
  margin-bottom: 2rem;
  width: 100%;
  height: 31.2rem;
  position: relative;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-16-RWj .frame-9-m4o .mask-group-hj9 {
  width: 19.7004rem;
  height: 23.0955rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-16-RWj .frame-9-m4o .dlyavolos-2-1-FEs {
  width: 22.1861rem;
  height: 22.1861rem;
  position: absolute;
  left: 4.1887rem;
  top: 8.2569rem;
  object-fit: cover;
  vertical-align: top;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-16-RWj .frame-9-m4o .cosmetics-NqH {
  width: 12.3rem;
  height: 2.9rem;
  position: absolute;
  left: 3.737rem;
  top: 2.6153rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-16-RWj .frame-14-s1M {
  margin: 0rem 18.8rem 0rem 2.05rem;
  width: calc(100% - 20.85rem);
  display: flex;
  align-items: center;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-16-RWj .frame-14-s1M .frame-14-awM {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-16-RWj .frame-14-s1M .browse-XLo {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-17-U19 {
  width: 30.5817rem;
  height: 100%;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-17-U19 .frame-10-RSB {
  margin-bottom: 1.4515rem;
  width: 100%;
  height: 31.7485rem;
  position: relative;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-17-U19 .frame-10-RSB .mask-group-xwu {
  width: 19.7004rem;
  height: 23.0955rem;
  position: absolute;
  left: 0;
  top: 0.0404rem;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-17-U19 .frame-10-RSB .item-2700000113033-1-huV {
  width: 23.8333rem;
  height: 23.8333rem;
  position: absolute;
  left: 3.4151rem;
  top: 7.9153rem;
  object-fit: cover;
  vertical-align: top;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-17-U19 .frame-10-RSB .hygiene-cleanliness-Rab {
  width: 13.6rem;
  height: 5.7rem;
  position: absolute;
  left: 3.287rem;
  top: 2.6153rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-17-U19 .frame-14-ho1 {
  margin: 0rem 18.782rem 0rem 2.1rem;
  width: calc(100% - 20.8817rem);
  display: flex;
  align-items: center;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-17-U19 .frame-14-ho1 .frame-14-SVh {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-48-s3R .frame-45-gp3 .frame-17-U19 .frame-14-ho1 .browse-abu {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw {
  box-sizing: border-box;
  padding-top: 9.6596rem;
  width: 153.6rem;
  height: 141.5596rem;
  position: absolute;
  left: 0;
  top: 189.3096rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(37.36deg, #242527 98.01%, #161718 201.43%);
}
.home-x8s .frame-77-Fxw .frame-47-9oR {
  margin: 0rem 15.6rem 12.6rem 12.8rem;
  width: calc(100% - 28.4rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-46-Gt3 {
  margin: 0rem 81.2rem 8.534rem 0rem;
  width: calc(100% - 81.2rem);
  height: 6rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-46-Gt3 .why-us-zJF {
  margin-right: 5.9rem;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-46-Gt3 .frame-2-7tf {
  box-sizing: border-box;
  padding: 1.9rem 2.1rem 1.9rem 2rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #63dea6;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-46-Gt3 .frame-2-7tf .frame-173-eNo {
  margin-right: 1rem;
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-46-Gt3 .frame-2-7tf .about-sgtrade-B7q {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  color: #63dea6;
  font-family: Radio Canada, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB {
  margin-left: 2.45rem;
  width: calc(100% - 2.45rem);
  height: 41.0663rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .frame-32-n7d {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .frame-32-n7d .frame-28-imy {
  margin: 0rem 15.65rem 3.466rem 0rem;
  box-sizing: border-box;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/vector-9sH.png');
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .frame-32-n7d .frame-28-imy .frame-26-RAb {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .frame-32-n7d .frame-20-8Ku {
  margin-left: 0.05rem;
  width: 25.6rem;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .frame-32-n7d .frame-20-8Ku .carefully-curated-selection-3Ss {
  margin-bottom: 1.9rem;
  max-width: 21.1rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #e2f3fd;
  font-family: Playfair Display, 'Source Sans Pro';
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .frame-32-n7d .frame-20-8Ku .line-1-w2T {
  margin-bottom: 1.8rem;
  width: 5.2758rem;
  height: 0.2rem;
  background-color: #04c1c1;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .frame-32-n7d .frame-20-8Ku .we-meticulously-curate-the-best-beverages-chocolates-and-alcohol-drinks-from-top-producers-like-ensuring-that-you-receive-only-the-finest-quality-products-FYw {
  max-width: 25.6rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  color: #c7c7c7;
  font-family: Radio Canada, 'Source Sans Pro';
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 {
  box-sizing: border-box;
  padding-left: 6.85rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-33-A3d {
  margin-right: 7.55rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-33-A3d .frame-29-Uq1 {
  margin: 0rem 14.95rem 3.466rem 0rem;
  box-sizing: border-box;
  padding: 2.597rem 3.038rem 2.586rem 3.048rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/vector.png');
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-33-A3d .frame-29-Uq1 .frame-27-9RM {
  width: 3.914rem;
  height: 4.8172rem;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-33-A3d .frame-21-cZq {
  margin-left: 0.05rem;
  width: 24.9rem;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-33-A3d .frame-21-cZq .uncompromising-quality-7Wb {
  margin-bottom: 1.9rem;
  max-width: 20.5rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #e2f3fd;
  font-family: Playfair Display, 'Source Sans Pro';
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-33-A3d .frame-21-cZq .line-1-auy {
  margin-bottom: 1.8rem;
  width: 5.2758rem;
  height: 0.2rem;
  background-color: #04c1c1;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-33-A3d .frame-21-cZq .our-commitment-to-delivering-exceptional-quality-means-that-every-beverage-chocolate-and-alcohol-drink-we-import-undergoes-strict-quality-checks-uBZ {
  max-width: 24.9rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  color: #c7c7c7;
  font-family: Radio Canada, 'Source Sans Pro';
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-34-84K {
  margin-right: 7.45rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-34-84K .frame-30-e2f {
  margin: 0rem 15.05rem 3.466rem 0rem;
  box-sizing: border-box;
  padding: 2.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/vector-cDh.png');
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-34-84K .frame-30-e2f .frame-25-wGf {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-34-84K .frame-22-EmZ {
  margin-left: 0.05rem;
  width: 25rem;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-34-84K .frame-22-EmZ .trusted-supplier-relationships-MbH {
  margin-bottom: 1.9rem;
  max-width: 20rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #e2f3fd;
  font-family: Playfair Display, 'Source Sans Pro';
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-34-84K .frame-22-EmZ .line-1-E9H {
  margin-bottom: 1.8rem;
  width: 5.2758rem;
  height: 0.2rem;
  background-color: #04c1c1;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-34-84K .frame-22-EmZ .through-our-strong-relationships-with-major-producers-including-coca-cola-and-mars-we-have-secured-reliable-and-trustworthy-suppliers-Yvf {
  max-width: 25rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  color: #c7c7c7;
  font-family: Radio Canada, 'Source Sans Pro';
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-35-zGs {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-35-zGs .frame-31-8P5 {
  margin: 0rem 15.25rem 3.466rem 0rem;
  box-sizing: border-box;
  padding: 2.5rem 2.5rem 2.5rem 2.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../assets/images/vector-VB9.png');
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-35-zGs .frame-31-8P5 .frame-24-cJF {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-35-zGs .frame-23-7Vu {
  margin-left: 0.05rem;
  width: 25.2rem;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-35-zGs .frame-23-7Vu .exceptional-customer-care-qB1 {
  margin-bottom: 1.9rem;
  max-width: 17.9rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.0770000311;
  color: #e2f3fd;
  font-family: Playfair Display, 'Source Sans Pro';
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-35-zGs .frame-23-7Vu .line-1-Wnw {
  margin-bottom: 1.8rem;
  width: 5.2758rem;
  height: 0.2rem;
  background-color: #04c1c1;
}
.home-x8s .frame-77-Fxw .frame-47-9oR .frame-36-GQB .auto-group-ihw3-TQ7 .frame-35-zGs .frame-23-7Vu .our-dedicated-team-goes-above-and-beyond-to-provide-outstanding-customer-service-from-promptly-addressing-inquiries-to-ensuring-efficient-order-processing-and-timely-deliveries-SAo {
  max-width: 25.2rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.25;
  color: #c7c7c7;
  font-family: Radio Canada, 'Source Sans Pro';
}
.home-x8s .frame-77-Fxw .frame-134-oQf {
  box-sizing: border-box;
  padding: 0 12.8rem;
  width: 100%;
  height: 63.7rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF {
  box-sizing: border-box;
  padding: 0rem 22rem 0rem 22rem;
  width: 100%;
  height: 110.8596rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: radial-gradient(61.4% 109.18% at 50% 120.51%, rgba(0, 0, 0, 0.3600000143) 0%, rgba(0, 0, 0, 0) 100%);
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV {
  margin: 0rem 19.3rem 6rem 19.3rem;
  width: calc(100% - 38.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-53-g75 {
  margin: 0rem 7.45rem 2.7rem 7.45rem;
  width: calc(100% - 14.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-53-g75 .get-the-quote-MU7 {
  margin-bottom: 4.3596rem;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #04c1c1;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-53-g75 .get-the-quote-MU7 .get-the-quote-MU7-sub-0 {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 1.0769999822;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-53-g75 .get-the-quote-MU7 .get-the-quote-MU7-sub-1 {
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-53-g75 .frame-50-fmd {
  margin: 0rem 8.9rem 0rem 7.1rem;
  width: calc(100% - 16rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-53-g75 .frame-50-fmd .infosgtradelt-b9V {
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-53-g75 .frame-50-fmd .item-370-613-15-157-JJo {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-49-yQw {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-49-yQw .frame-2-HgX {
  margin-right: 7.7rem;
  box-sizing: border-box;
  padding: 2.15rem 4.1rem 1.55rem 2.367rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #63dea6;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-49-yQw .frame-2-HgX .address-book-8BM {
  margin: 0rem 1.367rem 0.6rem 0rem;
  width: 1.4667rem;
  height: 1.4667rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-49-yQw .frame-2-HgX .all-contacts-q5m {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #63dea6;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-49-yQw .frame-3-kTd {
  box-sizing: border-box;
  padding: 2.15rem 4.2rem 1.55rem 2.246rem;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.1rem #04c1c1;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-49-yQw .frame-3-kTd .send-t43 {
  margin: 0rem 1.275rem 0.571rem 0rem;
  width: 1.6794rem;
  height: 1.6794rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .frame-51-nXV .frame-49-yQw .frame-3-kTd .send-request-PFh {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #04c1c1;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-77-Fxw .frame-134-oQf .frame-39-7gF .world-1-2ZZ {
  width: 84rem;
  height: 80.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas {
  box-sizing: border-box;
  padding: 0rem 16.2rem 0rem 12.6rem;
  width: 153.6rem;
  height: 36.5rem;
  position: absolute;
  left: 0;
  top: 326.6192rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #110f0f;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ {
  margin-right: 14.8rem;
  width: 72.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .mask-group-o6T {
  width: 43.15rem;
  height: 50.5863rem;
  position: absolute;
  left: 19.3159rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 {
  width: 34.2151rem;
  height: 20.3rem;
  position: absolute;
  left: 0;
  top: 13.3467rem;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-50-nyy {
  margin-bottom: 3.3rem;
  display: flex;
  flex-direction: column;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-50-nyy .infosgtradelt-XRm {
  margin-bottom: 0.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-50-nyy .item-370-613-15-157-bwR {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .auto-group-u13r-2G3 {
  box-sizing: border-box;
  padding-bottom: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .auto-group-u13r-2G3 .frame-60-8Zy {
  margin: 0rem 17rem 1.4rem 0rem;
  width: calc(100% - 17rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .auto-group-u13r-2G3 .frame-60-8Zy .registry-code--2fM {
  margin-right: 2.9151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .auto-group-u13r-2G3 .frame-60-8Zy .item-305937503-iHH {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .auto-group-u13r-2G3 .frame-61-cdZ {
  margin-right: 13.2rem;
  width: calc(100% - 13.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .auto-group-u13r-2G3 .frame-61-cdZ .vat-nr--867 {
  margin-right: 6.2151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .auto-group-u13r-2G3 .frame-61-cdZ .lt100015566211-E99 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .frame-62-MDm {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .frame-62-MDm .address--tzP {
  margin-right: 5.7151rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #c7c7c7;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-59-JJ7 .frame-63-Jaw .frame-62-MDm .jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-CkB {
  max-width: 24.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .created-by-nocliche-s5d {
  width: 9.8rem;
  height: 1.6rem;
  position: absolute;
  left: 58.35rem;
  top: 40.497rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(217, 217, 217, 0.3000000119);
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-172-4vo {
  width: 15.8rem;
  height: 11.9rem;
  position: absolute;
  left: 56.3rem;
  top: 14.7874rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-172-4vo .frame-Mf1 {
  margin: 0rem 0.005rem 3.995rem 0rem;
  width: 15.6049rem;
  height: 6.005rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-172-4vo .frame-171-3Gw {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-172-4vo .frame-171-3Gw .frame-N4K {
  margin-right: 1.5654rem;
  width: 1.9385rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-172-4vo .frame-171-3Gw .whatsapp-icon-seeklogocom-5Dd {
  margin-right: 1.5657rem;
  width: 1.9285rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-172-4vo .frame-171-3Gw .facebook-new-2019-seeklogocom-3-n83 {
  margin: 0rem 1.566rem 0.012rem 0rem;
  width: 1.9381rem;
  height: 1.8885rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-172-4vo .frame-171-3Gw .linkedin-new-2020-seeklogocom-qs1 {
  margin: 0rem 1.566rem 0rem 0rem;
  width: 1.9381rem;
  height: 1.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .auto-group-hczq-4uZ .frame-172-4vo .frame-171-3Gw .frame-jBh {
  margin-bottom: 0.0001rem;
  width: 1.7945rem;
  height: 1.8998rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF {
  margin: 5.95rem 0rem 12.75rem 0rem;
  height: calc(100% - 18.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 {
  margin-right: 1.8rem;
  width: 19.8rem;
  height: 100%;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .auto-group-au6f-L51 {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .auto-group-au6f-L51 .frame-3-saj {
  margin: 0rem 5.2rem 1rem 0rem;
  box-sizing: border-box;
  padding: 1rem 3.4rem 0.4rem 2.45rem;
  width: calc(100% - 5.2rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .auto-group-au6f-L51 .frame-3-saj .address-book-jsq {
  margin: 0rem 1.05rem 0.675rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .auto-group-au6f-L51 .frame-3-saj .contacts-Toq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .auto-group-au6f-L51 .frame-4-Nvo {
  margin-right: 4.8rem;
  box-sizing: border-box;
  padding: 1rem 3.6rem 0.4rem 2.145rem;
  width: calc(100% - 4.8rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .auto-group-au6f-L51 .frame-4-Nvo .frame-75-rLB {
  margin: 0rem 1.145rem 0.6rem 0rem;
  width: 1.2109rem;
  height: 1.2109rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .auto-group-au6f-L51 .frame-4-Nvo .about-us-aX5 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .frame-5-uZM {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1rem 4.5rem 0.4rem 2rem;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .frame-5-uZM .stars-28B {
  margin: 0rem 1rem 0.6rem 0rem;
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .frame-5-uZM .import-export-9Th {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .frame-6-seb {
  margin-right: 8.4rem;
  box-sizing: border-box;
  padding: 1rem 2.7rem 0.4rem 2.45rem;
  width: calc(100% - 8.4rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .frame-6-seb .news-aJ7 {
  margin: 0rem 1.05rem 0.675rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-55-Dm5 .frame-6-seb .news-WBm {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-56-3Sb {
  width: 16.3rem;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-56-3Sb .frame-2-Q2F {
  margin: 0rem 6.7rem 1rem 0rem;
  box-sizing: border-box;
  padding: 1rem 1.3rem 0.4rem 0.25rem;
  width: calc(100% - 6.7rem);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-56-3Sb .frame-2-Q2F .layout-grid-hGF {
  margin: 0rem 1.25rem 0.6rem 0rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-56-3Sb .frame-2-Q2F .catalog-23d {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e2f3fd;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-56-3Sb .frame-57-M5u {
  width: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-56-3Sb .frame-57-M5u .frame-4-63V {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0.5rem 3.9rem 0rem 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-56-3Sb .frame-57-M5u .frame-5-MVD {
  box-sizing: border-box;
  padding: 0.5rem 4.3rem 0rem 2.5rem;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.home-x8s .frame-38-Bas .frame-58-oxF .frame-56-3Sb .frame-57-M5u .frame-6-2rF {
  margin-right: 5.2rem;
  box-sizing: border-box;
  padding: 0.5rem 3.6rem 0rem 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Gotham Pro, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
