<div class="home-x8s">
  <div class="frame-3-kaX">
    <div class="frame-1-6gK">
      <div class="group-3-zmh">
        <div class="frame-2-Wzw">
          <a [routerLink]="'/quote'">
            <img class="clipboard-list-oUF" src="../../assets/images/clipboard-list.png" />
          </a>
          <p class="get-the-quote-WNf">Get the quote</p>
        </div>
        <a [routerLink]="'/catalog'">
          <img class="menu-2-WfV" src="../../assets/images/menu-2.png" />
        </a>
      </div>
      <img class="frame-ciX" src="../../assets/images/frame-eTu.png" />
    </div>
    <div class="frame-8-x1h">
      <img class="chevron-left-H3y" src="../../assets/images/chevron-left.png" />
      <div class="group-4-CAw">
        <div class="frame-37-LH9">
          <div class="frame-7-rWP">
            <p class="your-trusted-source-for-exceptional-beverage-imports-C4T">
              <span class="your-trusted-source-for-exceptional-beverage-imports-C4T-sub-0">Your Trusted Source for
                Exceptional </span>
              <span class="your-trusted-source-for-exceptional-beverage-imports-C4T-sub-1">Beverage Imports</span>
            </p>
            <p class="discover-a-world-of-premium-beverages-directly-from-renowned-producers-8u9">Discover a World of
              Premium Beverages, Directly from Renowned Producers</p>
          </div>
          <div class="frame-2-1i3">
            <a [routerLink]="'/category'">
            <img class="layout-grid-6Ub" src="../../assets/images/layout-grid.png" />
            <p class="explore-beverages-oto">Explore Beverages</p>
            </a>
          </div>
        </div>
        <div class="coca-cola-quien-propietario-1-vCj">
        </div>
      </div>
      <div class="auto-group-nkwz-mz3">
        <img class="chevron-right-uKZ" src="../../assets/images/chevron-right.png" />
        <div class="group-2-RYo">
          <div class="ellipse-1-yaK">
          </div>
          <div class="ellipse-2-txB">
          </div>
          <div class="ellipse-3-DjZ">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-48-s3R">
    <div class="frame-44-kN7">
      <p class="products-GbM">Products</p>
      <p
        class="explore-our-handpicked-selection-of-top-quality-products-sourced-directly-from-leading-producers-offering-you-a-diverse-range-of-flavors-to-cater-to-your-business-needs-znF">
        Explore our handpicked selection of top-quality products sourced directly from leading producers, offering you a
        diverse range of flavors to cater to your business needs.</p>
    </div>
    <div class="frame-19-SeF">
      <div class="frame-16-yeB">
        <div class="frame-9-7VV">
          <img class="mask-group-3e3" src="../../assets/images/mask-group-KhM.png" />
          <div class="group-1-nLj">
            <div class="digital-image-5qd">
            </div>
            <div class="item-38121-1-B7y">
            </div>
            <div class="sprite-2-l-foq">
            </div>
            <div class="digital-image-ypX">
            </div>
            <div class="digital-image-gyq">
            </div>
            <div class="digital-image-Bvb">
            </div>
            <div class="l-sprite-JEX">
            </div>
            <div class="digital-image-CKu">
            </div>
            <div class="coca-cola-v1-1-1-5uV">
            </div>
            <div class="digital-image-BxX">
            </div>
            <div class="l-coca-cola-sleek-can-VCX">
            </div>
            <div class="digital-image-azf">
            </div>
          </div>
          <p class="beverages-J9y">Beverages</p>
        </div>
        <div class="frame-14-BDm">
          <a [routerLink]="'/category'">
            <img class="frame-14-6bd" src="../../assets/images/frame-14-A2P.png" />
          </a>
          <p class="browse-q3R"> Browse</p>
        </div>
      </div>
      <div class="auto-group-mh4f-xtj">
        <div class="frame-17-HRD">
          <div class="frame-10-R1d">
            <img class="mask-group-kJo" src="../../assets/images/mask-group-kVR.png" />
            <p class="confectionary-MJb">Confectionary</p>
            <div class="marspageproducts-2-RZM">
            </div>
          </div>
          <div class="frame-14-h15">
            <img class="frame-14-opo" src="../../assets/images/frame-14-CZ9.png" />
            <p class="browse-Lpj"> Browse</p>
          </div>
        </div>
        <div class="frame-18-UAF">
          <div class="frame-11-2Bm">
            <img class="mask-group-ZBh" src="../../assets/images/mask-group-D2b.png" />
            <img class="liquorshome2-1-tjm" src="../../assets/images/liquorshome2-1.png" />
            <p class="alcohol-pNX">Alcohol</p>
          </div>
          <div class="frame-14-JHh">
            <a [routerLink]="'/article'">
              <img class="frame-14-EBM" src="../../assets/images/frame-14-zps.png" />
            </a>
            <p class="browse-mBH"> Browse</p>

          </div>
        </div>
      </div>
    </div>
    <div class="frame-45-gp3">
      <div class="frame-16-RWj">
        <div class="frame-9-m4o">
          <img class="mask-group-hj9" src="../../assets/images/mask-group-SD9.png" />
          <img class="dlyavolos-2-1-FEs" src="../../assets/images/dlyavolos-2-1.png" />
          <p class="cosmetics-NqH">Cosmetics</p>
        </div>
        <div class="frame-14-s1M">
          <img class="frame-14-awM" src="../../assets/images/frame-14.png" />
          <p class="browse-XLo"> Browse</p>
        </div>
      </div>
      <div class="frame-17-U19">
        <div class="frame-10-RSB">
          <img class="mask-group-xwu" src="../../assets/images/mask-group-Hgw.png" />
          <img class="item-2700000113033-1-huV" src="../../assets/images/-XdM.png" />
          <p class="hygiene-cleanliness-Rab">
            Hygiene &amp;
            <br />
            Cleanliness
          </p>
        </div>
        <div class="frame-14-ho1">
          <img class="frame-14-SVh" src="../../assets/images/frame-14-PZd.png" />
          <p class="browse-abu"> Browse</p>
        </div>
      </div>
    </div>
  </div>
  <div class="frame-77-Fxw">
    <div class="frame-47-9oR">
      <div class="frame-46-Gt3">
        <p class="why-us-zJF">Why us?</p>
        <div class="frame-2-7tf">
          <img class="frame-173-eNo" src="../../assets/images/frame-173.png" />
          <p class="about-sgtrade-B7q">About SGTrade</p>
        </div>
      </div>
      <div class="frame-36-GQB">
        <div class="frame-32-n7d">
          <div class="frame-28-imy">
            <img class="frame-26-RAb" src="../../assets/images/frame-26.png" />
          </div>
          <div class="frame-20-8Ku">
            <p class="carefully-curated-selection-3Ss">Carefully Curated Selection</p>
            <div class="line-1-w2T">
            </div>
            <p
              class="we-meticulously-curate-the-best-beverages-chocolates-and-alcohol-drinks-from-top-producers-like-ensuring-that-you-receive-only-the-finest-quality-products-FYw">
              We meticulously curate the best beverages, chocolates, and alcohol drinks from top producers like,
              ensuring that you receive only the finest quality products.
              <br />

              <br />

              <br />

            </p>
          </div>
        </div>
        <div class="auto-group-ihw3-TQ7">
          <div class="frame-33-A3d">
            <div class="frame-29-Uq1">
              <img class="frame-27-9RM" src="../../assets/images/frame-27.png" />
            </div>
            <div class="frame-21-cZq">
              <p class="uncompromising-quality-7Wb">Uncompromising Quality</p>
              <div class="line-1-auy">
              </div>
              <p
                class="our-commitment-to-delivering-exceptional-quality-means-that-every-beverage-chocolate-and-alcohol-drink-we-import-undergoes-strict-quality-checks-uBZ">
                Our commitment to delivering exceptional quality means that every beverage, chocolate, and alcohol drink
                we import undergoes strict quality checks.</p>
            </div>
          </div>
          <div class="frame-34-84K">
            <div class="frame-30-e2f">
              <img class="frame-25-wGf" src="../../assets/images/frame-25.png" />
            </div>
            <div class="frame-22-EmZ">
              <p class="trusted-supplier-relationships-MbH">Trusted Supplier Relationships</p>
              <div class="line-1-E9H">
              </div>
              <p
                class="through-our-strong-relationships-with-major-producers-including-coca-cola-and-mars-we-have-secured-reliable-and-trustworthy-suppliers-Yvf">
                Through our strong relationships with major producers, including Coca-Cola and Mars, we have secured
                reliable and trustworthy suppliers. </p>
            </div>
          </div>
          <div class="frame-35-zGs">
            <div class="frame-31-8P5">
              <img class="frame-24-cJF" src="../../assets/images/frame-24.png" />
            </div>
            <div class="frame-23-7Vu">
              <p class="exceptional-customer-care-qB1">Exceptional Customer Care</p>
              <div class="line-1-Wnw">
              </div>
              <p
                class="our-dedicated-team-goes-above-and-beyond-to-provide-outstanding-customer-service-from-promptly-addressing-inquiries-to-ensuring-efficient-order-processing-and-timely-deliveries-SAo">
                Our dedicated team goes above and beyond to provide outstanding customer service. From promptly
                addressing inquiries to ensuring efficient order processing and timely deliveries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-134-oQf">
      <div class="frame-39-7gF">
        <div class="frame-51-nXV">
          <div class="frame-53-g75">
            <p class="get-the-quote-MU7">
              <span class="get-the-quote-MU7-sub-0">Get the</span>
              <span class="get-the-quote-MU7-sub-1"> quote!</span>
            </p>
            <div class="frame-50-fmd">
              <p class="infosgtradelt-b9V">infosgtrade.lt</p>
              <p class="item-370-613-15-157-JJo">+370 613 15 157</p>
            </div>
          </div>
          <div class="frame-49-yQw">
            <div class="frame-2-HgX">
              <a [routerLink]="'/contact'">
                <img class="address-book-8BM" src="../../assets/images/address-book-wf9.png" />
              </a>
              <p class="all-contacts-q5m">All contacts</p>
            </div>
            <div class="frame-3-kTd">
              <a [routerLink]="'/contact'">
              <img class="send-t43" src="../../assets/images/send.png" />
              </a>
              <p class="send-request-PFh">Send Request</p>
            </div>
          </div>
        </div>
        <img class="world-1-2ZZ" src="../../assets/images/world-1.png" />
      </div>
    </div>
  </div>
  <div class="frame-38-Bas">
    <div class="auto-group-hczq-4uZ">
      <img class="mask-group-o6T" src="../../assets/images/mask-group.png" />
      <div class="frame-59-JJ7">
        <div class="frame-50-nyy">
          <p class="infosgtradelt-XRm">infosgtrade.lt</p>
          <p class="item-370-613-15-157-bwR">+370 613 15 157</p>
        </div>
        <div class="frame-63-Jaw">
          <div class="auto-group-u13r-2G3">
            <div class="frame-60-8Zy">
              <p class="registry-code--2fM">Registry code:</p>
              <p class="item-305937503-iHH">305937503</p>
            </div>
            <div class="frame-61-cdZ">
              <p class="vat-nr--867">VAT nr: </p>
              <p class="lt100015566211-E99">LT100015566211</p>
            </div>
          </div>
          <div class="frame-62-MDm">
            <p class="address--tzP">Address:</p>
            <p class="jj-krasevskio-st-7-1-vilnius-lt-08118lithuania-CkB">J.J Krasevskio st. 7-1, Vilnius, LT-
              08118, Lithuania</p>
          </div>
        </div>
      </div>
      <p class="created-by-nocliche-s5d">created by nocliche</p>
      <div class="frame-172-4vo">
        <img class="frame-Mf1" src="../../assets/images/frame-34X.png" />
        <div class="frame-171-3Gw">
          <a href="https://www.instagram.com/cocacola?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
            <img class="frame-N4K" src="../../assets/images/frame-jXH.png" />
          </a>
          <img class="whatsapp-icon-seeklogocom-5Dd" src="../../assets/images/whatsapp-icon-seeklogocom.png" />
          <a href="https://www.facebook.com/cocacolauzb/?brand_redir=40796308305">
            <img class="facebook-new-2019-seeklogocom-3-n83"
              src="../../assets/images/facebook-new-2019-seeklogocom-3.png" />
          </a>
          <a href="https://www.linkedin.com/company/the-coca-cola-company/">
            <img class="linkedin-new-2020-seeklogocom-qs1"
              src="../../assets/images/linkedin-new-2020-seeklogocom.png" />
          </a>
          <img class="frame-jBh" src="../../assets/images/frame.png" />
        </div>
      </div>
    </div>
    <div class="frame-58-oxF">
      <div class="frame-55-Dm5">
        <div class="auto-group-au6f-L51">
          <div class="frame-3-saj">
            <img class="address-book-jsq" src="../../assets/images/address-book.png" />
            <a [routerLink]="'/contact'">
              <p class="contacts-Toq">Contacts</p>
            </a>
          </div>
          <div class="frame-4-Nvo">
            <img class="frame-75-rLB" src="../../assets/images/frame-75.png" />
            <a [routerLink]="'/abouutus'">
              <p class="about-us-aX5">About Us</p>
            </a>
          </div>
        </div>
        <div class="frame-5-uZM">
          <img class="stars-28B" src="../../assets/images/stars.png" />
          <a [routerLink]="'/import'">
            <p class="import-export-9Th">Import/Export</p>
          </a>
        </div>
        <div class="frame-6-seb">
          <img class="news-aJ7" src="../../assets/images/news.png" />
          <a [routerLink]="'/news'">
            <p class="news-WBm">News</p>
          </a>
        </div>
      </div>
      <div class="frame-56-3Sb">
        <div class="frame-2-Q2F">
          <img class="layout-grid-hGF" src="../../assets/images/layout-grid-EZR.png" />
          <a [routerLink]="'/catalog'">
            <p class="catalog-23d">Catalog</p>
          </a>
        </div>
        <div class="frame-57-M5u">
          <a [routerLink]="'/category'">
            <div class="frame-4-63V">Beverages</div>
          </a>
          <div class="frame-5-MVD">Confectionary</div>
          <a [routerLink]="'/article'">
            <div class="frame-6-2rF">Alcohol</div>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>